{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br><br><br><br><br>
    <div class="container-fluid" style="background-color: #e2e8ef;
            background: url({% static 'images/iconfiles/developer.jpeg' %});">
        <br><br><br>
        <div class="row">
            <div class="col-1"></div>
{#            #b6d4fe#}
            <div class="col-10 text-white rounded text-end" style="background-color: #d0d8da;">
                <div class="row">
                    <div class="col-2">
                        <br><br>
                        <img src="{% static 'images/iconfiles/pdps_in_folder.png' %}" width="210px" height="auto">
                    </div>
                    <div class="col-10 text-center" >
                        <h2 class="display-7 text-primary" style="font-weight: bold">
                            <br>
                            Developed by: Division of Information System
                        </h2>
                        <label style="font-size:30px;font-weight: bold;color: rgba(250,91,56,0.9)">
                            F&nbsp;&nbsp;B&nbsp;&nbsp;A&nbsp;&nbsp;I&nbsp;&nbsp;T.
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            K&nbsp;&nbsp;K&nbsp;&nbsp;C. <br>
                            R&nbsp;M&nbsp;U&nbsp;T&nbsp;I
                            <br>
                            <img src="{% static 'images/iconfiles/miniheart.png' %}" width="75px" height="auto">

                            <br><br>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <br><br><br>
    </div>

{% endblock %}