{% extends 'base.html' %}
{% load static %}

{% block content %}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />#}
<br>
<div class="container">
    <div class="card me-5" style="width: 18rem; margin: 10px;">
    <img src="{% static 'images/dev/or-phich.jpg' %}" class="card-img-top rounded-circle" width="10px" height="20px">
        <div class="card-body">
            <h5 class="card-title">food</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, reprehenderit!</p>
            <a href="#" class="card-link">lnik</a>
        </div>
    </div>
    <br>
<div class="row mt-n1-9">
                    <div class="col-1"></div>
                    <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="team-style07">
                            <div class="team-thumb mb-1-9">
                                <div class="thumb"><img src="{% static 'images/dev/or-phich.jpg' %}" class="rounded-circle" alt="..."></div>
                                <div class="team-social">
                                    <ul class="styled-icons">
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="h5 mb-1"><a href="#!">Dr. Phitchayaphak Phiphitphatphaisit </a></h3>
                            <p class="mb-0">Project Manager & Developer </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="team-style07">
                            <div class="team-thumb mb-1-9">
                                <div class="thumb"><img src="{% static 'images/dev/or-kea.jpg' %}" class="rounded-circle" alt="..."></div>
                                <div class="team-social">
                                    <ul class="styled-icons">
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="h5 mb-1"><a href="#!">Dr. Pathamakorn Nethayawijit</a></h3>
                            <p class="mb-0">Co-Founder</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="team-style07">
                            <div class="team-thumb mb-1-9">
                                <div class="thumb"><img src="{% static 'images/dev/or-su.jpg' %}" class="rounded-circle" alt="..."></div>
                                <div class="team-social">
                                    <ul class="styled-icons">
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="h5 mb-1"> <a href="#!">Aj. Supaporn Anuphaphaiboon</a></h3>
                            <p class="mb-0">Team Member</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="team-style07">
                            <div class="team-thumb mb-1-9">
                                <div class="thumb"><img src="{% static 'images/dev/or-aom.jpg' %}" class="rounded-circle" alt="..."></div>
                                <div class="team-social">
                                    <ul class="styled-icons">
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="styled-icons-item" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="h5 mb-1"> <a href="#!">Aj. Thasanee Lunrasri Laueri</a></h3>
                            <p class="mb-0">Team Member</p>
                        </div>
                    </div>
                </div>
</div>
    <br><br>
{% endblock %}