{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h2><i class="fas fa-user-astronaut"></i> หัวหน้าสาขา/หน่วยงานย่อย </h2>
        </div>
    </div>
    <hr class="text-primary">

    <table class="table table-light table-striped table-hover" style="border-color: #0b5ed7">
        <tr class="text-primary">
            <th class="col-1"></th>
            <th class="col-4">ชื่อหัวหน้าสาขา/หน่วยงานย่อย</th>
            <th class="col-5">สาขา/หน่วยงานย่อย</th>
            <th class="col-2">
                {% if request.session.userType == 'Administrator' %}
                    <button data-bs-toggle="collapse" data-bs-target="#newHeader"
                            class="btn btn-sm btn-primary text-white" style="width: 100%">
                        <i class="fa fa-plus"></i> เพิ่มหัวหน้า
                    </button>
                {% endif %}
            </th>
        </tr>
        {% if count == 0 %}
            <tr>
                <td colspan="4" class="text-center text-danger"> -
                    ยังไม่ได้กำหนดรายชื่อหัวหน้าสาขา/หน่วยงานย่อยไว้ในระบบ -
                </td>
            </tr>
        {% else %}
            {% for header in headers %}
                <tr>
                    <td class="text-center">
                        <img src="{% static header.personnel.picture %}" class="rounded-circle" width="50px">
                    </td>
                    <td>
                        {{ header.personnel }}
                    </td>
                    <td>
                        {{ header.division }}
                    </td>
                    <td class="text-center">
                        {% if request.session.userType == 'Administrator' %}
                            <a href="{% url 'headerDelete' header.id %}" class="btn btn-danger"
                               onclick="return confirm('โปรดยืนยันการลบรายชื่อหัวหน้าสาขา/หน่วยงานย่อยที่เลือกนี้' )">
                                <i class="fa fa-trash"> </i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    {% if responsibles.has_other_pages %}
        <div class="row">
            <div class="col-12 text-center ">
                <div class="btn-group text-center" role="group" aria-label="Item pagination">
                    {% if responsibles.has_previous %}
                        <a href="{% url 'responsibleList'  responsibles.previous_page_number %}"
                           class="btn btn-outline-primary">&laquo;</a>
                    {% endif %}

                    {% for page_number in responsibles.paginator.page_range %}
                        {% if responsibles.number == page_number %}
                            <button class="btn btn-outline-primary active">
                                <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                            </button>
                        {% else %}
                            <a href="{% url 'responsibleList' page_number %}"
                               class="btn btn-outline-primary">
                                {{ page_number }}
                            </a>
                        {% endif %}
                    {% endfor %}

                    {% if responsibles.has_next %}
                        <a href="{% url 'responsibleList' responsibles.next_page_number %}"
                           class="btn btn-outline-primary">&raquo;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    <div id="newHeader" class="collapse">
        <form method="post" class="form-control text-primary">
            {% csrf_token %}
            {{ form.as_table }}
            <button type="submit" class="btn btn-success">
                <i class="fa-solid fa-floppy-disk"></i> บันทึก
            </button>
        </form>
    </div>
    <p class="text-end text-info">[ข้อมูลรายชื่อหัวหน้าสาขา/หน่วยงานย่อย: {{ count }} รายการ]</p>
    <br>
{% endblock %}