{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% if request.session.userType == "Personnel" %}
            <div class="col-10">
                <h2><i class="fas fa-flask"></i></i> ลบงานวิจัย  </h2>
                <h4> {{ personnel }}, สังกัด: {{ personnel.division }} </h4>
            </div>
            <div class="col-2">
                <img src="{% static personnel.picture %}" width="75px" height="auto" style="margin-top:10px;"
                     class="rounded-circle">
            </div>
        {% else %}
            <div class="col-12">
                <h2><i class="fas fa-flask"></i> ลบงานวิจัย   </h2>
            </div>
        {% endif %}
    </div>
    <hr class="text-primary">
    <form method="POST" class="form form-control text-primary">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <p class="text-center">
            <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'researchList' %}'">
                <i class="fa fa-rotate-back"></i> ย้อนกลับ
            </button>
            <button type="submit" class="btn btn-danger"
                    onclick="return confirm('โปรดยืนยันการลบงานวิจัยนี้' )">
                <i class="fa-solid fa-trash"></i> ลบงานวิจัย
            </button>
        </p>
    </form>
    <br>
    <hr class="text-primary">

    <div class="row">
        <div class="col-2>"></div>
        <div class="col-8>">
            {% if research.getResearchPerson|length == 0  %}
                <div class="row">
                    <div class="col-2"></div>
                    <div class="alert-warning col-8 text-center">
                        <br>....ยังไม่ได้กำหนดรายชื่อบุคลากรที่ได้รับงานวิจัยนี้ในระบบ....<br><br></div>
                    <div class="col-2"></div>
                </div>
            {% else %}
                <table class="table table-striped table-hover table-light">
                    <tr class="text-primary">
                        <th class="col-1 text-center">ลำดับที่</th>
                        <th class="col-1 text-end"> </th>
                        <th class="col-3">บุคลากร</th>
                        <th class="col-3">หน้าที่ที่ได้รับมอบหมาย</th>
                        <th class="col-2 text-secondary text-sm-start"></th>
                        <th class="col-2 text-center text-danger">
                        </th>
                    </tr>

                    {% for researchPerson in research.getResearchPerson %}
                        {% if personnel.id == researchPerson.personnel.id %}
                            <tr class="text-success" style="font-weight:bold">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td class="text-end"><img src="{% static researchPerson.personnel.picture %}" style="margin:0px;" class="rounded-circle"
                                     width="55px" height="65px"> </td>
                            <td>{{ researchPerson.personnel }} </td>
                            <td>{{ researchPerson.status | slice:"0,30"}}</td>
                            <td style="font-size:small;font-style:italic;color:#4d4a4a" >{{ researchPerson.getRecorderAndEditor }}</td>
                            <td class="text-center">

                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-success">
            <h5><i class="fa fa-book"></i> รายการไฟล์เอกสารแนบ: </h5>
            <p class="text-info">
                {% if research.getResearchandFiles|length == 0 %}
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="alert-warning col-8 text-center">
                            <br>....ไม่มีเอกสารแนบข้อมูลการวิจัย....<br><br>
                        </div>
                        <div class="col-2"></div>
                    </div>
                {% else %}
                    <div class="row">
                        {% for f in research.getResearchandFiles %}
                            <div class="col-3">
                                <a href="{% static 'documents/research/' %}{{ f.file }}" class="filelink"
                                   target="_blank">
                                    {% if f.filetype == "pdf" %}
                                        <img src="{% static 'images/iconfiles/pdf-icon.png' %}" width="70px"
                                             class="img-thumbnail">
                                    {% else %}
                                        {% if f.filetype == "doc" or f.filetype == "docx" %}
                                            <img src="{% static 'images/iconfiles/doc-icon.png' %}" width="80px"
                                                 class="img-thumbnail">
                                        {% else %}
                                            {% if f.filetype == "xls" or f.filetype == "xlsx" %}
                                                <img src="{% static 'images/iconfiles/xls-icon.png' %}" width="80px"
                                                     class="img-thumbnail">
                                            {% else %}
                                                {% if f.filetype == "ppt" or f.filetype == "pptx" %}
                                                    <img src="{% static 'images/iconfiles/ppt-icon.png' %}"
                                                         width="80px"
                                                         class="img-thumbnail">
                                                {% else %}
                                                    {% if f.filetype == "jpg" or f.filetype == "png" or f.filetype == "jpeg" or f.filetype == "gif" %}
                                                        <img src="{% static 'images/iconfiles/img-icon.png' %}"
                                                             width="80px" class="img-thumbnail">
                                                    {% else %}
                                                        <img src="{% static 'images/iconfiles/txt-icon.png' %}"
                                                             width="80px" class="img-thumbnail">
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    <br>
                                    {% if f.file.name|length|get_digit:"-1" > 30 %}
                                        {{ f.file.name|slice:"0:30" }}...
                                    {% else %}
                                        {{ f.file.name }}
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-12 text-success">
            <h5><i class="fas fa-link"></i> ลิงก์ตำแหน่งไฟล์เอกสารแนบ:
            </h5>
        </div>
        <p class="text-primary">
        <ul class="list-group">
            {% for link in research.getResearchandURLs %}
                <li class="list-group-item text-primary">
                    <a href={{ link.url }} class="filelink" target="_blank">
                        <i class="fas fa-caret-right"></i> {{ link }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        </p>
    </div>
{% endblock %}