{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="row">
        {% if request.session.userType == "Personnel" %}
            <div class="col-10">
                <h2><i class="fas fa-flask"></i> ประวัติการทำวิจัย </h2>
                <h4> {{ personnel }},  สังกัด: {{ personnel.division }}  </h4>
            </div>
            <div class="col-2">
                <img src="{% static personnel.picture %}" width="75px" height="auto" style="margin-top:10px;"  class="rounded-circle">
            </div>
        {% elif request.session.userType == "Header" %}
            <div class="col-10">
                <h2><i class="fas fa-flask"></i> ประวัติการทำวิจัยในสาขา/หน่วยงานย่อย </h2>
                <h4> {{ personnel }},  สังกัด: {{ personnel.division }} (ทำหน้าที่หัวหน้า:{{ personnel.getHeader.division }}) </h4>
            </div>
            <div class="col-2">
                <img src="{% static personnel.picture %}" width="75px" height="auto" style="margin-top:10px;"  class="rounded-circle">
            </div>
        {% else %}
            <div class="col-12">
            <h2><i class="fas fa-flask"></i>ประวัติการทำวิจัย </h2>
        </div>
        {% endif %}
    </div>

     <table class="table table-light table-striped table-hover" style="border-color: #0b5ed7">
            <tr class="text-primary">
                <th class="text-center col-1">ปีงบประมาณ</th>
                <th class="col-4">ชื่องานวิจัย</th>
                <th class="text-center col-2">งบประมาณ (บาท) </th>
                <th class="col-2">ประเภททุนวิจัย</th>
                {% if request.session.userType != 'Header' %}
                    <th class="text-center col-1">จำนวนนักวิจัย</th>
                {% else %}
                    <th class="text-center col-1">นักวิจัยในสาขา/รวม</th>
                {% endif %}
                <th class="col col-2">
                    {% if request.session.userType in 'Administrator, Staff, Header' or request.session.userId == personnel.id %}
                        <a href="{% url 'researchNew' %}" class="btn btn-sm btn-primary  text-white" style="width: 100%">
                            <i class="fa fa-plus"></i> เพิ่มงานวิจัย </a>
                    {% endif %}
                </th>
            </tr>
            {% groupValue "" as nYear %}
            {% for research in researchs  %}
                 <tr class="text-dark" onclick="location.href='{% url 'researchDetail' research.id %}'" style="cursor: pointer">
                     {% if nYear != research.fiscalYear %}
                         <td class="text-center">
                            {% groupValue research.fiscalYear as nYear %}
                            {{ nYear }}
                        </td>
                     {% else %}
                         <td> </td>
                     {% endif %}
                    <td>
                        {{ research.title_th | slice:"0,100" }} ({{ research.title_en | slice:"0,100"}})
                    </td>
                    <td class="text-center">{{ research.budget | floatformat:"10,2"}} </td>
                    <td>{{ research.budgetType }} </td>
                    <td class="text-center">
                         {% if request.session.userType == 'Header' %}
                            {{ personnel.getHeader.division.id|getCountResearchPersonnelDivision:research.id }}/
                        {% endif %}
                        {{ research.getCountPersonnel }}
                    </td>
                    <td class="text-center">
                        {% if request.session.userType == 'Administrator' or request.session.userId == research.recorder.id %}
                            {% if request.session.userId == research.recorder.id and research.recordDate|getTimeUpdate == False %}
                                <button class="btn btn-secondary" disabled> <i class="fas fa-file-archive"></i> </button>
                                <i class="text-dark" style="font-size: small";>({{ research.recordDate|date:"d/m/Y" }})</i>
                            {% else %}
                                <a href="{% url 'researchUpdate' research.id %}" class="btn btn-warning"> <i class="fa fa-tools"> </i> </a>
                                <a href="{% url 'researchDelete' research.id %}" class="btn btn-danger"> <i class="fa fa-trash"> </i> </a>
                            {% endif %}
                        {% elif request.session.userType == 'Staff' %}
                            {% if research.recordDate|getTimeUpdate == False %}
                                <button class="btn btn-secondary" disabled> <i class="fas fa-file-archive"></i> </button>
                            {% elif request.session.userId == research.recorder.id %}
                                <a href="{% url 'researchUpdate' research.id %}" class="btn btn-warning"> <i class="fa fa-tools"> </i> </a>
                                <a href="{% url 'researchDelete' research.id %}" class="btn btn-danger"> <i class="fa fa-trash"> </i> </a>
                            {% else %}
                                <i style="font-style: italic;font-size: small">โดย{{ research.recorder }} </i>
                            {% endif %}
                        {% else %}
                            {% if  research.recordDate|getTimeUpdate == False %}
                                <button class="btn btn-secondary" disabled> <i class="fas fa-file-archive"></i> </button>
                            {% else %}
                                <i style="font-style: italic;font-size: small">โดย{{ research.recorder }} </i>
                            {% endif %}
                        {% endif %}
                    </td>
                 </tr>
            {% endfor %}

     </table>
    
     {% if researchs.has_other_pages %}
         <div class="row">
             <div class="col-12 text-center ">
                 <div class="btn-group text-center" role="group" aria-label="Item pagination">
                     {% if researchs.has_previous %}
                         {% if request.session.userType != "Personnel" %}
                            <a href="{% url 'researchList' researchs.previous_page_number %}"
                                class="btn btn-outline-primary">&laquo;</a>
                         {% else %}
                             <a href="{% url 'researchList' personnel.id researchs.previous_page_number %}"
                                class="btn btn-outline-primary">&raquo;</a>
                         {% endif %}
                     {% endif %}

                     {% for page_number in researchs.paginator.page_range %}
                         {% if researchs.number == page_number %}
                             <button class="btn btn-outline-primary active">
                                 <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                             </button>
                         {% else %}
                             {% if request.session.userType != "Personnel" %}
                                 <a href="{% url 'researchList' page_number %}"
                                    class="btn btn-outline-primary">
                                     {{ page_number }}
                                 </a>
                             {% else %}
                                 <a href="{% url 'researchList' personnel.id page_number %}" class="btn btn-outline-primary">
                                     {{ page_number }}
                                 </a>
                             {% endif %}
                         {% endif %}
                     {% endfor %}

                     {% if researchs.has_next %}
                         {% if request.session.userType != "Personnel" %}
                             <a href="{% url 'researchList'  researchs.next_page_number %}"
                                class="btn btn-outline-primary">&raquo;</a>
                         {% else %}
                             <a href="{% url 'researchList' personnel.id researchs.next_page_number %}"
                                class="btn btn-outline-primary">&raquo;</a>
                         {% endif %}
                     {% endif %}
                 </div>
             </div>
         </div>
     {% endif %}
    <p class="text-end text-info">[ข้อมูลคำสั่ง: {{ count }} เรื่อง]</p>
    <br>
{% endblock %}