{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h2><i class="fas fa-crown"></i> ข้อมูลประวัติการรับเครื่องราชอิสริยาภรณ์ </h2>
        </div>
    </div>
    {% if divisions is not None %}
        <div class="row">
            <div class="col-5">
                <form method="post" class="form-control text-success">
                    {% csrf_token %}
                    <label for="divisionId">เลือกสาขาที่สังกัด</label>
                    <select name="divisionId" onchange="this.form.submit();" class="form-control text-success">
                        {% for div in divisions %}
                            {% if div == division %}
                                <option value="{{ div.id }}" selected> {{ div }}</option>
                            {% else %}
                                <option value="{{ div.id }}"> {{ div }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
{#                    <input type="hidden" name="personnelId">#}
                </form>
            </div>
            <div class="col-1 text-center align-middle">
                {% if division != None %}
                    <br>
                    <h2><i class="fas fa-angle-double-right text-lg-center text-success"></i></h2>
                {% endif %}
            </div>
            <div class="col-6">
                {% if division != None %}
                    <form method="post" class="form-control text-success">
                        {% csrf_token %}
                        <label for="personnelId">เลือกบุคลากร</label>
                        <select name="personnelId" onchange="this.form.submit();" class="form-control text-success">
                            {% if onlyStaff == True %}
                                <option value="{{ recorder.id }}" selected> {{ recorder }} (*คุณ) </option>
                            {% else %}
                                {% for person in division.getPersonnels %}
                                    {% if person == personnel %}
                                        <option value="{{ person.id }}" selected> {{ person }}
                                    {% else %}
                                        <option value="{{ person.id }}"> {{ person }}
                                    {% endif %}
                                    {% if person == recorder %}
                                         (*คุณ)
                                    {% endif %}
                                    </option>
                                {% endfor %}
                            {% endif %}
                            </select>
                        <input type="hidden" name="divisionId" value="{{ division.id }}">
                    </form>
                {% endif %}

            </div>
        </div>
    {% endif %}

    {% if personnel != None %}
        <div class="row">
            <div class="col-10"><br>
                <h4 class="align-bottom"> {{ personnel }}, สังกัด: {{ personnel.division }}  </h4>
            </div>
            <div class="col-2">
                <img src="{% static personnel.picture %}" width="75px" height="auto" style="margin-top:5px;" class="rounded-circle">
            </div>
        </div>
        <hr class="text-primary">
        <table class="table table-light table-striped table-hover" style="border-color: #0b5ed7">
            <tr class="text-primary">
                <th class="text-center col-2">วันที่ได้รับ</th>
                <th class="text-center col-1">ลำดับชั้น</th>
                <th class="col-3">ชื่อชั้นเครื่องราชอิสริยาภรณ์</th>
                <th class="col-2">ชื่อย่อ </th>
                <th class="col-2">ประเภท </th>
                <th class="col col-2">
                    {% if request.session.userType in 'Administrator, Staff' %}
                        <a href="{% url 'decorationNew' personnel.id %}"
                                             class="btn btn-sm btn-primary  text-white" style="width: 100%"><i
                            class="fa fa-plus"></i> เพิ่มเครื่องราชฯ </a>
                    {% elif request.session.userId == personnel.id and personnel.editable == True %}
                        <a href="{% url 'decorationNew' personnel.id %}"
                                             class="btn btn-sm btn-primary  text-white" style="width: 100%"><i
                            class="fa fa-plus"></i> เพิ่มเครื่องราชฯ </a>
                    {% endif %}
                </th>

            </tr>
            {% for decorate in personnel.getDecorations %}
                <tr class="text-dark" onclick="location.href='{% url 'decorationDetail' decorate.id %}'" style="cursor: pointer">
                    <td class="text-center">{{ decorate.getDate | date:'d/m/Y' }}</td>
                    <td class="text-center">{{ decorate.level }}</td>
                    <td>{{ decorate.name }}</td>
                    <td>{{ decorate.name_sh }}</td>
                    <td>{{ decorate.type }}</td>
                    <td class="text-center">
                        {% if request.session.userType in 'Administrator, Staff' %}
                            <a href="{% url 'decorationUpdate' decorate.id %}" class="btn btn-warning"> <i
                                    class="fa fa-tools"> </i> </a>
                            <a href="{% url 'decorationDelete' decorate.id %}" class="btn btn-danger"> <i
                                    class="fa fa-trash"> </i> </a>
                        {% elif request.session.userId == personnel.id and personnel.editable == True %}
                            <a href="{% url 'decorationUpdate' decorate.id %}" class="btn btn-warning"> <i
                                    class="fa fa-tools"> </i> </a>
                            <a href="{% url 'decorationDelete' decorate.id %}" class="btn btn-danger"> <i
                                    class="fa fa-trash"> </i> </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <div class="row">
        <div class="col-12 text-center">
            <br><br>
            <button type="button" class="btn btn-secondary" onclick="history.back()">
                <i class="fa fa-rotate-back"></i> ย้อนกลับ
            </button>
            {% if request.session.userId == personnel.id and personnel.editable == False %}
                <button type="button" class="btn btn-secondary">
                    <i class="fa fa-ban"></i> ชุดข้อมูลได้รับการป้องกันการแก้ไข
                </button>
            {% endif %}
        </div>
    </div>
{% endblock %}