{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h2><i class="fa fa-layer-group"></i> ข้อมูลสาขา/หน่วยงานย่อย </h2>
        </div>
    </div>

    <hr class="text-primary">
    <table class="table table-light table-striped table-hover">
        <tr class="text-primary">
            <th class="col-4">ชื่อสาขา/หน่วยงานย่อย (ภาษาไทย)</th>
            <th class="col-4">ชื่อสาขา/หน่วยงานย่อย (ภาษาอังกฤษ)</th>
            <th class="col-2 text-center">ชื่อย่อ</th>
            <th class="col-2">
                {% if request.session.userType == 'Administrator' %}
                    <a href="{% url 'divisionNew' %}"
                                         class="btn btn-sm btn-info  text-white" style="width: 100%"><i
                        class="fa fa-plus"></i> เพิ่มสาขา/หน่วยงานย่อย </a>
                {% endif %}
            </th>
        </tr>
        {% for division in divisions %}
            <tr>
                <td class="col-4">{{ division.name_th }}</td>
                <td class="col-4">{{ division.name_en }}</td>
                <td class="col-2 text-center">{{ division.name_sh }}</td>
                <td class="col-2 text-center">
                    {% if request.session.userType == 'Administrator' or request.session.userType == 'Staff'  %}
                        <a href="{% url 'divisionUpdate' division.id %}" class="btn btn-secondary">
                            <i class="fa fa-tools"> </i> </a>
                        <a href="{% url 'divisionDelete' division.id %}" class="btn btn-danger">
                            <i class="fa fa-trash"> </i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}