{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h2><i class="fas fa-sitemap"></i> ข้อมูลการบริหารหลักสูตร </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="post" class="form-control text-success">
                {% csrf_token %}
                <label for="curriculumId">เลือกหลักสูตร </label>
                <select name="curriculumId" onchange="this.form.submit();" class="form-control text-success">
                    {% for curr in curriculums %}
                        {% if curr == curriculum %}
                            <option value="{{ curr.id }}" selected> {{ curr }}</option>
                        {% else %}
                            <option value="{{ curr.id }}"> {{ curr }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
{#                <input type="hidden" name="act" value="select">#}
            </form>
        </div>
    </div>

    {% if curriculum != None %}
        <div class="row">
            <div class="col-12"><br>
                <h4 class="align-bottom"> {{ curriculum }} : {{ curriculum.name_en_sh }},
                    หน่วยงานที่รับผิดชอบ: {{ curriculum.division }} </h4>
            </div>
        </div>
        <hr class="text-primary">
        <table class="table table-info table-striped table-hover">
            <tr class="text-primary">
                <th class="col-6">ชื่อผู้รับผิดชอบ</th>
                <th class="col-4 text-center">หน้าที่</th>
                <th class="col-2">
                    <button data-bs-toggle="collapse" data-bs-target="#newCurrAff"
                            class="btn btn-sm btn-info  text-white" style="width: 100%">
                        <i class="fa fa-plus"></i> เพิ่มผู้รับผิดชอบ
                    </button>
                </th>
            </tr>
            {% for currAff in curriculum.getCurrAffiliation %}
                <tr class="text-primary">
                    <td>
                        {{ currAff.personnel.status }}{{ currAff.personnel.firstname_th }} {{ currAff.personnel.lastname_th }}
                    </td>
                    <td class="text-center">{{ currAff.status }}</td>
                    <td class="text-center">
                        <a href="{% url 'currAffiliationDelete' currAff.id %}" class="btn btn-danger"
                           onclick="return confirm('โปรดยืนยันการลบรายการบริหารหลักสูตรที่เลือกนี้' )">
                            <i class="fa fa-trash"> </i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div id="newCurrAff" class="collapse">
            <form method="post" class="form-control">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="hidden" name="curriculumId" value="{{ curriculum.id }}">
                <input type="hidden" name="action" value="new">
                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-floppy-disk"></i> บันทึก
                </button>
            </form>
        </div>
    {% endif %}
{% endblock %}