{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h2><i class="fa fa-graduation-cap"></i> ข้อมูลหลักสูตร </h2>
        </div>
    </div>

    <hr class="text-primary">
    <table class="table table-light table-striped table-hover table-bordered">
        <tr class="text-primary">
            <th class="col-3">ชื่อปริญญา (ภาษาไทย)</th>
            <th class="col-3">ชื่อปริญญา (ภาษาอังกฤษ)</th>
            <th class="col-2  text-center">ระดับการศึกษา</th>
            <th class="col-2  text-center">ระยะเวลาศึกษา (ปี)</th>
            <th class="col-2"><a href="{% url 'curriculumNew' %}"
                                     class="btn btn-sm btn-info  text-white" style="width: 100%"><i
                    class="fa fa-plus"></i> เพิ่มหลักสูตร </a></th>
        </tr>
        {% for curriculum in curriculums %}
            <tr class="text-primary">
                <td>{{ curriculum.name_th_sh }}</td>
                <td>{{ curriculum.name_en_sh }}</td>
                <td class="text-center">{{ curriculum.level }}</td>
                <td class="text-center">{{ curriculum.studyTime }}</td>
                <td class="text-center">
                    <a href="{% url 'curriculumUpdate' curriculum.id %}" class="btn btn-secondary"> <i
                            class="fa fa-tools"> </i> </a>
                    <a href="{% url 'curriculumDelete' curriculum.id %}" class="btn btn-danger"> <i class="fa fa-trash"> </i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}