{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h2><i class="fa fa-user-graduate"></i> ประวัติการศึกษาของบุคลากร </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <form method="post" class="form-control text-success">
                {% csrf_token %}
                <label for="divisionId">เลือกสาขาที่สังกัด</label>
                <select name="divisionId" onchange="this.form.submit();" class="form-control text-success">
                    {% for div in divisions %}
                        {% if div == division %}
                            <option value="{{ div.id }}" selected> {{ div }}</option>
                        {% else %}
                            <option value="{{ div.id }}"> {{ div }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="hidden" name="personnelId">
            </form>
        </div>
        <div class="col-1 text-center align-middle">
            {% if division != None %}
                <br>
                <h2><i class="fas fa-angle-double-right text-lg-center text-success"></i></h2>
            {% endif %}
        </div>
        <div class="col-6">
            {% if division != None %}
                <form method="post" class="form-control text-success">
                    {% csrf_token %}
                    <label for="personnelId">เลือกบุคลากร</label>
                    <select name="personnelId" onchange="this.form.submit();" class="form-control text-success">
                        {% for person in division.getPersonnels %}
                            {% if person == personnel %}
                                <option value="{{ person.id }}" selected> {{ person }}</option>
                            {% else %}
                                <option value="{{ person.id }}"> {{ person }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="hidden" name="divisionId" value="{{ division.id }}">
                </form>
            {% endif %}

        </div>
    </div>

    {% if personnel != None %}
        <div class="row">
            <div class="col-10"><br>
                <h4 class="align-bottom"> {{ personnel.status }}{{ personnel.firstname_th }} {{ personnel.lastname_th }},
                    สังกัด: {{ personnel.division }} </h4>
            </div>
            <div class="col-2">
                <img src="{% static personnel.picture %}" width="75px" height="auto" style="margin-top:5px;" class="rounded-circle">
            </div>
        </div>
        <hr class="text-primary">
        <table class="table table-info table-striped table-hover">
            <tr class="text-primary">
                <th class="text-center col-2">ระดับการศึกษา</th>
                <th class="col-3">ชื่อวุฒิการศึกษาแบบ</th>
                <th class="col-3">ชื่อสถาบันการศึกษา</th>
                <th class="text-center col-2">ปีที่สำเร็จการศึกษา</th>
                <th class="col col-2"><a href="{% url 'educationNew' personnel.id %}"
                                         class="btn btn-sm btn-info  text-white" style="width: 100%"><i
                        class="fa fa-plus"></i> เพิ่มวุฒิการศึกษา </a></th>
            </tr>
            {% for educate in personnel.getEducations %}
                <tr class="text-primary">
                    <td class="text-center">{{ educate.level }}</td>
                    <td>{{ educate.degree_th }}</td>
                    <td>{{ educate.institute }}</td>
                    <td class="text-center">{{ educate.yearGraduate }}</td>
                    <td class="text-center">
                        <a href="{% url 'educationDetail' educate.id %}" class="btn btn-light"> <i
                                class="fa fa-search"> </i> </a>
                        <a href="{% url 'educationUpdate' educate.id %}" class="btn btn-secondary"> <i
                                class="fa fa-tools"> </i> </a>
                        <a href="{% url 'educationDelete' educate.id %}" class="btn btn-danger"> <i
                                class="fa fa-trash"> </i> </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}