{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-10">
            <h2><i class="fa fa-user-graduate"></i> ลบวุฒิการศึกษา </h2>
            <h4> {{ personnel.status }}{{ personnel.firstname_th }} {{ personnel.lastname_th }},
                สังกัด: {{ personnel.division }} </h4>
        </div>
        <div class="col-2">
            <img src="{% static personnel.picture %}" width="75px" height="auto" style="margin-top:10px;">
        </div>
    </div>
    <hr class="text-primary">
    <form method="POST" class="form form-control text-primary">
        {% csrf_token %}
        {{ form.as_p }}
        <p class="text-center">
            <button type="button" class="btn btn-secondary" onclick="history.back()">
                <i class="fa fa-rotate-back"></i> ย้อนกลับ
            </button>
            <button type="submit" class="btn btn-danger"
                    onclick="return confirm('โปรดยืนยันการลบวุฒิการศึกษานี้' )">
                <i class="fa-solid fa-trash"></i> ลบข้อมูลวุฒิการศึกษา
            </button>
        </p>
    </form>
{% endblock %}