{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-10">
            <h2><i class="fa-solid fa-sun"></i> รายละเอียดความเชี่ยวชาญ </h2>
            <h4> {{ expertise.personnel }},  สังกัด: {{ expertise.personnel.division }} </h4>
        </div>
        <div class="col-2">
            <img src="{% static expertise.personnel.picture %}" width="75px" height="auto" style="margin-top:10px;" class="rounded-circle">
        </div>
    </div>

    <hr class="text-primary">
    <table class="table table-light table-striped table-hover" style="border-color: #0b5ed7">
        <tr>
            <th class="col-3 text-primary">เรื่อง/ประเด็นความเชี่ยวชาญ</th>
            <td class="col-9">{{ expertise.topic }} <br></td>
        </tr>
        <tr>
            <th class="text-primary">รายละเอียด</th>
            <td>{{ expertise.detail | linebreaks}}  <br><br></td>
        </tr>
        <tr>
            <th class="text-primary">ประสบการณ์ </th>
            <td>{{ expertise.experience | linebreaks }} <br><br></td>
        </tr>
    </table>
    <p class="text-end text-secondary" style="border-color: #6c757d">
        <i>{{ expertise.getRecorderAndEditor }} </i>
    </p>
    <p class="text-center">
        <button type="button" class="btn btn-secondary" onclick="history.back()">
            <i class="fa fa-rotate-back"></i> ย้อนกลับ
        </button>
        {% if request.session.userType in 'Administrator, Staff' %}
            <button type="button" class="btn btn-warning"
                    onclick="location.href='{% url 'expertiseUpdate' expertise.id  %}'">
                <i class="fa fa-tools"></i> แก้ไข
            </button>
        {% elif request.session.userId == expertise.personnel.id and expertise.personnel.editable == True %}
            <button type="button" class="btn btn-warning"
                    onclick="location.href='{% url 'expertiseUpdate' expertise.id  %}'">
                <i class="fa fa-tools"></i> แก้ไข
            </button>
        {% elif request.session.userType in 'Manager, Header' and request.session.userId == expertise.personnel.id and expertise.personnel.editable == True %}
            <button type="button" class="btn btn-warning"
                    onclick="location.href='{% url 'expertiseUpdate' expertise.id  %}'">
                <i class="fa fa-tools"></i> แก้ไข
            </button>
        {% else %}
            <button type="button" class="btn btn-secondary">
                <i class="fa fa-ban"></i> ชุดข้อมูลได้รับการป้องกันการแก้ไข
            </button>
        {% endif %}
    </p>
    <br><br><br>
{% endblock %}