{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-10">
            <h2><i class="fas fa-people-carry"></i> บันทึกการบริการทางวิชาการแก่สังคม </h2>
            {% if request.session.userType != "Administrator" and request.session.userType != "Staff" %}
                <h4> {{ personnel }},  สังกัด: {{ personnel.division }} </h4>
            {% endif %}
        </div>
        <div class="col-2">
            {% if request.session.userType != "Administrator" and request.session.userType != "Staff" %}
                <img src="{% static personnel.picture %}" width="75px" height="auto" style="margin-top:10px;"  class="rounded-circle">
            {% endif %}
        </div>
    </div>
    <hr class="text-primary">
    <form method="POST" enctype="multipart/form-data" class="form form-control text-primary">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                {{ form.as_p }}
            </div>
            <p>
                {% if request.session.userType == "Personnel" %}
                    <label for="status" class="text-primary">หน้าที่ที่ได้รับมอบหมาย</label>
                    <input type="text" class="form-control" name="status" required id="status" size="35" maxlength="30"
                           value="ผู้ร่วมโครงการ" required="required">
                {% endif %}
            </p>
        </div>
        <hr>
        <p class="text-center">
            <br>
            <button type="button" class="btn btn-secondary" onclick="history.back()">
                <i class="fa fa-rotate-back"></i> ย้อนกลับ
            </button>
            <button type="submit" class="btn btn-success">
                <i class="fa-solid fa-floppy-disk"></i> บันทึก
            </button>
        </p>
    </form>
    <br><br>
{% endblock %}