{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="row">
        {% if request.session.userType == "Personnel" %}
            <div class="col-10">
                <h2><i class="fas fa-person-booth"></i> ประวัติการบริการทางวิชาการแก่สังคม </h2>
                <h4> {{ personnel }},  สังกัด: {{ personnel.division }}  </h4>
            </div>
            <div class="col-2">
                <img src="{% static personnel.picture %}" width="75px" height="auto" style="margin-top:10px;"  class="rounded-circle">
            </div>
        {% elif request.session.userType == "Header" %}
            <div class="col-10">
                <h2> <i class="fas fa-person-booth"></i>ประวัติการบริการทางวิชาการแก่สังคมในสาขา/หน่วยงานย่อย </h2>
                <h4> {{ personnel }},  สังกัด: {{ personnel.division }} (ทำหน้าที่หัวหน้า:{{ personnel.getHeader.division }}) </h4>
            </div>
            <div class="col-2">
                <img src="{% static personnel.picture %}" width="75px" height="auto" style="margin-top:10px;"  class="rounded-circle">
            </div>
        {% else %}
            <div class="col-12">
                <h2><i class="fas fa-person-booth"></i> ประวัติการบริการทางวิชาการแก่สังคม </h2>
        </div>
        {% endif %}
    </div>

     <table class="table table-light table-striped table-hover" style="border-color: #0b5ed7">
            <tr class="text-primary">
                <th class="col-1 text-center">ปีการศึกษา</th>
                <th class="col-1 text-center">ภาคเรียนที่ </th>
                <th class="col-3">ชื่อโครงการ</th>
                <th class="col-3">สถานที่ </th>
                <th class="col-1 text-center">ผู้รับบริการ (คน)</th>
                {% if request.session.userType != 'Header' %}
                    <th class="text-center col-1">จำนวนบุคลากร</th>
                {% else %}
                    <th class="text-center col-1">บุคลากรสาขา/รวม</th>
                {% endif %}
                <th class="col col-2">
                    {% if request.session.userType in 'Administrator, Staff, Header, Manager' or request.session.userId == personnel.id %}
                        <a href="{% url 'socialserviceNew' %}" class="btn btn-sm btn-primary  text-white" style="width: 100%">
                            <i class="fa fa-plus"></i> เพิ่มโครงการบริการฯ </a>
                    {% endif %}
                </th>
            </tr>
            {% groupValue "" as nYear %}
            {% for socialservice in socialservices  %}
                 <tr class="text-dark" onclick="location.href='{% url 'socialserviceDetail' socialservice.id %}'" style="cursor: pointer">
                     {% if nYear != socialservice.getEduYearAndSementer %}
                         <td class="text-center">
                            {% groupValue socialservice.getEduYearAndSementer as nYear %}
                            {{ nYear }}
                        </td>
                        <td class="text-center">{{ socialservice.eduSemeter }}</td>
                     {% else %}
                         <td> </td>
                         <td> </td>
                     {% endif %}
                    <td>  {{ socialservice.topic | slice:"0,100" }} </td>
                    <td>  {{ socialservice.place | slice:"0,100" }} </td>
                    <td class="text-center">{{ socialservice.num_receiver}} </td>
                    <td class="text-center">
                         {% if request.session.userType == 'Header' %}
                            {{ personnel.getHeader.division.id|getCountsocialservicePersonnelDivision:socialservice.id }}/
                        {% endif %}
                        {{ socialservice.getCountPersonnel }}
                    </td>
                    <td class="text-center">
                        {% if request.session.userType == 'Administrator' or request.session.userId == socialservice.recorder.id %}
                            {% if request.session.userId == socialservice.recorder.id and socialservice.recordDate|getTimeUpdate == False %}
                                <button class="btn btn-secondary" disabled> <i class="fas fa-file-archive"></i> </button>
                                <i class="text-dark" style="font-size: small";>({{ socialservice.recordDate|date:"d/m/Y" }})</i>
                            {% else %}
                                <a href="{% url 'socialserviceUpdate' socialservice.id %}" class="btn btn-warning"> <i class="fa fa-tools"> </i> </a>
                                <a href="{% url 'socialserviceDelete' socialservice.id %}" class="btn btn-danger"> <i class="fa fa-trash"> </i> </a>
                            {% endif %}
                        {% elif request.session.userType == 'Staff' %}
                            {% if socialservice.recordDate|getTimeUpdate == False %}
                                <button class="btn btn-secondary" disabled> <i class="fas fa-file-archive"></i> </button>
                            {% elif request.session.userId == socialservice.recorder.id %}
                                <a href="{% url 'socialserviceUpdate' socialservice.id %}" class="btn btn-warning"> <i class="fa fa-tools"> </i> </a>
                                <a href="{% url 'socialserviceDelete' socialservice.id %}" class="btn btn-danger"> <i class="fa fa-trash"> </i> </a>
                            {% else %}
                                <i style="font-style: italic;font-size: small">โดย{{ socialservice.recorder }} </i>
                            {% endif %}
                        {% else %}
                            {% if  socialservice.recordDate|getTimeUpdate == False %}
                                <button class="btn btn-secondary" disabled> <i class="fas fa-file-archive"></i> </button>
                            {% else %}
                                <i style="font-style: italic;font-size: small">โดย{{ socialservice.recorder }} </i>
                            {% endif %}
                        {% endif %}
                    </td>
                 </tr>
            {% endfor %}

     </table>
    
     {% if socialservices.has_other_pages %}
         <div class="row">
             <div class="col-12 text-center ">
                 <div class="btn-group text-center" role="group" aria-label="Item pagination">
                     {% if socialservices.has_previous %}
                         {% if request.session.userType != "Personnel" %}
                            <a href="{% url 'socialserviceList' socialservices.previous_page_number %}"
                                class="btn btn-outline-primary">&laquo;</a>
                         {% else %}
                             <a href="{% url 'socialserviceList' personnel.id socialservices.previous_page_number %}"
                                class="btn btn-outline-primary">&raquo;</a>
                         {% endif %}
                     {% endif %}

                     {% for page_number in socialservices.paginator.page_range %}
                         {% if socialservices.number == page_number %}
                             <button class="btn btn-outline-primary active">
                                 <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                             </button>
                         {% else %}
                             {% if request.session.userType != "Personnel" %}
                                 <a href="{% url 'socialserviceList' page_number %}"
                                    class="btn btn-outline-primary">
                                     {{ page_number }}
                                 </a>
                             {% else %}
                                 <a href="{% url 'socialserviceList' personnel.id page_number %}" class="btn btn-outline-primary">
                                     {{ page_number }}
                                 </a>
                             {% endif %}
                         {% endif %}
                     {% endfor %}

                     {% if socialservices.has_next %}
                         {% if request.session.userType != "Personnel" %}
                             <a href="{% url 'socialserviceList'  socialservices.next_page_number %}"
                                class="btn btn-outline-primary">&raquo;</a>
                         {% else %}
                             <a href="{% url 'socialserviceList' personnel.id socialservices.next_page_number %}"
                                class="btn btn-outline-primary">&raquo;</a>
                         {% endif %}
                     {% endif %}
                 </div>
             </div>
         </div>
     {% endif %}
    <p class="text-end text-info">[ข้อมูลคำสั่ง: {{ count }} เรื่อง]</p>
    <br>
{% endblock %}