{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h2><i class="fas fa-award text-primary"></i> ประวัติการรับตำแหน่ง/ผลงาน/รางวัล </h2>
        </div>
    </div>

    {% if request.session.userType != 'Personnel' %}
        <div class="row">
            <div class="col-5">
                <form method="post" class="form-control text-success">
                    {% csrf_token %}
                    <label for="divisionId">เลือกสาขาที่สังกัด</label>
                    <select name="divisionId" onchange="this.form.submit();" class="form-control text-success">
                        {% for div in divisions %}
                            {% if div == division %}
                                <option value="{{ div.id }}" selected> {{ div }}</option>
                            {% else %}
                                <option value="{{ div.id }}"> {{ div }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
{#                    <input type="hidden" name="personnelId">#}
                </form>
            </div>
            <div class="col-1 text-center align-middle">
                {% if division != None %}
                    <br>
                    <h2><i class="fas fa-angle-double-right text-lg-center text-success"></i></h2>
                {% endif %}
            </div>
            <div class="col-6">
                {% if division != None %}
                    <form method="post" class="form-control text-success">
                        {% csrf_token %}
                        <label for="personnelId">เลือกบุคลากร</label>
                        <select name="personnelId" onchange="this.form.submit();" class="form-control text-success">
                            {% if recorderOnly == True %}
                                <option value="{{ recorder.id }}" selected> {{ recorder }} (*คุณ) </option>
                                {% for person in division.getPersonnels %}
                                    {% if person == personnel %}
                                        <option value="{{ person.id }}" selected> {{ person }}
                                    {% else %}
                                        <option value="{{ person.id }}"> {{ person }}
                                    {% endif %}
                                    {% if person == recorder %}
                                         (*คุณ)
                                    {% endif %}
                                    </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <input type="hidden" name="divisionId" value="{{ division.id }}">
                    </form>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if personnel != None %}
        <div class="row">
            <div class="col-10"> <br>
                <h4 class="align-bottom"> {{ personnel }}, สังกัด: {{ personnel.division }} </h4>
            </div>
            <div class="col-2">
                <img src="{% static personnel.picture %}" width="75px" height="auto" style="margin-top:5px;" class="rounded-circle">
            </div>
        </div>
        <hr class="text-primary">
        <table class="table table-light table-striped table-hover text-primary" style="border-color: #0b5ed7">
            <tr class="text-primary">
                <th class="col-1 text-center">ปีงบประมาณ</th>
                <th class="col-4">ชื่อผลงาน/รางวัล</th>
                <th class="col-3">ได้รับจาก/ผู้มอบ</th>
                <th class="col-2 text-center">วันที่ได้รับ</th>
                <th class="col col-2">
                    {% if request.session.userType in 'Administrator, Staff' or request.session.userId == personnel.id %}
                        <a href="{% url 'performanceNew' personnel.id %}" class="btn btn-sm btn-primary  text-white" style="width: 100%">
                            <i class="fa fa-plus"></i> เพิ่มการฝึกอบรม/สัมมนา </a>
                    {% endif %}
                </th>
            </tr>

            {% groupValue "" as nYear %}
            {% for performance in performances  %}
                <tr class="text-dark" onclick="location.href='{% url 'performanceDetail' performance.id %}'" style="cursor: pointer">
                    <td class="text-center">
                        {% if nYear != performance.fiscalYear %}
                            {% groupValue performance.fiscalYear as nYear %}
                            {{ nYear }}
                        {% endif %}
                    </td>
                    <td>{{ performance.topic }}</td>
                    <td>{{ performance.source }}</td>
                    <td class="text-center">{{ performance.getDate }}</td>
                    <td class="text-center">
                        {% if request.session.userType in 'Administrator, Staff' or request.session.userId == personnel.id %}
                             {% if request.session.userId == personnel.id and performance.recordDate|getTimeUpdate == False %}
                                <button class="btn btn-secondary" disabled>  <i class="fas fa-file-archive"></i> </button>
                            {% else %}
        {#                        <a href="{% url 'performanceDetail' performance.id %}" class="btn btn-light"> <i class="fa fa-search"> </i> </a>#}
                                <a href="{% url 'performanceUpdate' performance.id %}" class="btn btn-warning"> <i class="fa fa-tools"> </i> </a>
                                <a href="{% url 'performanceDelete' performance.id %}" class="btn btn-danger"> <i class="fa fa-trash"> </i> </a>
                             {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        
        {% if performances.has_other_pages %}
            <div class="row">
                <div class="col-12 text-center ">
                    <div class="btn-group text-center" role="group" aria-label="Item pagination">
                        {% if performances.has_previous %}
                            {% if request.session.userType != 'Personnel' %}
                                <a href="{% url 'performanceList' personnel.id division.id performances.previous_page_number %}"
                                   class="btn btn-outline-primary">&laquo;</a>
                            {% else %}
                                <a href="{% url 'performanceList' None None performances.previous_page_number %}"
                                   class="btn btn-outline-primary">&laquo;</a>
                            {% endif %}
                        {% endif %}

                        {% for page_number in performances.paginator.page_range %}
                            {% if performances.number == page_number %}
                                <button class="btn btn-outline-primary active">
                                    <span>{{ page_number  }} <span class="sr-only">(current)</span></span>
                                </button>
                            {% else %}
                                {% if request.session.userType != 'Personnel' %}
                                    <a href="{% url 'performanceList' personnel.id division.id page_number %}" class="btn btn-outline-primary">
                                        {{ page_number }}
                                    </a>
                                {% else %}
                                    <a href="{% url 'performanceList' None None page_number %}" class="btn btn-outline-primary">
                                        {{ page_number }}
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if performances.has_next %}
                            {% if request.session.userType != 'Personnel' %}
                                <a href="{% url 'performanceList' personnel.id division.id performances.next_page_number %}"
                                   class="btn btn-outline-primary">&raquo;</a>
                            {% else %}
                                <a href="{% url 'performanceList' None None performances.next_page_number %}"
                                   class="btn btn-outline-primary">&raquo;</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
         <p class="text-end text-info">[ข้อมูลการรับตำแหน่ง/ผลงาน/รางวัล: {{ count }} ครั้ง]</p>
        <br>
    {% endif %}
{% endblock %}