{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="row">
        <div class="col-10">
            <h2><i class="fas fa-award text-primary"></i> รายละเอียดการรับตำแหน่ง/ผลงาน/รางวัล</h2>
            <h3>
                {{ performance.personnel.status }}{{ performance.personnel.firstname_th }} {{ performance.personnel.lastname_th }},
                สังกัด: {{ performance.personnel.division }}
            </h3>
        </div>
        <div class="col-2">
            <img src="{% static performance.personnel.picture %}" width="75px" height="auto" style="margin-top:10px;" class="rounded-circle">
        </div>
    </div>

    <hr class="text-primary">
    <table class="table table-light table-striped table-hover" style="border:2px; border-color: #0b5ed7;">
        <tr>
            <th class="col-3 text-primary">ปีงบประมาณ</th>
            <td class="col-9">{{ performance.fiscalYear  }}</td>
        </tr>
        <tr>
            <th class="text-primary">ชื่อผลงาน/รางวัล</th>
            <td>{{ performance.topic }}</td>
        </tr>
        <tr>
            <th class="text-primary">รายละเอียด</th>
            <td>{{ performance.detail }}</td>
        </tr>
        <tr>
            <th class="text-primary">ได้รับจาก/ผู้มอบ</th>
            <td>{{ performance.source }}</td>
        </tr>
        <tr>
            <th class="text-primary">วันที่ได้รับ</th>
            <td>{{ performance.getDate }}</td>
        </tr>
        <tr>
            <th class="text-primary">ปีการศึกษา</th>
            <td>{{ performance.eduYear  }}</td>
        </tr>
        <tr>
            <th class="text-primary">ภาคเรียนที่</th>
            <td>{{ performance.getSemeter }}</td>
        </tr>
        <tr>
            <th class="text-primary">งบประมาณที่ใช้</th>
            <td>{{ performance.budget }}</td>
        </tr>
        <tr>
            <th class="text-primary">ประเภทงบประมาณ</th>
            <td>{{ performance.budgetType }}</td>
        </tr>

    </table>
    <p class="text-end text-secondary" style="border-color: #6c757d">
        <i>{{ performance.getRecorderAndEditor }} </i>
    </p>

    <p class="text-center">
        {% if request.session.userType != 'Personnel' %}
            <button type="button" class="btn btn-secondary"
                    onclick="location.href='{% url 'performanceList' performance.personnel.division.id performance.personnel.id %}'">
                <i class="fa fa-rotate-back"></i> ย้อนกลับ
            </button>
        {% else %}
            <button type="button" class="btn btn-secondary"
                    onclick="location.href='{% url 'performanceList' %}'">
                <i class="fa fa-rotate-back"></i> ย้อนกลับ
            </button>
        {% endif %}
        {% if request.session.userType in 'Administrator, Staff' or request.session.userId == performance.personnel.id %}
            {% if request.session.userId == performance.personnel.id and performance.recordDate|getTimeUpdate == False %}
                <button type="button" class="btn btn-secondary" disabled>
                    <i class="fa fa-tools"></i> (หมดอายุแก้ไข)
                </button>
            {% else %}
                <button type="button" class="btn btn-warning"
                        onclick="location.href='{% url 'performanceUpdate' performance.id %}'">
                    <i class="fa fa-tools"></i> แก้ไข
                </button>
            {% endif %}
        {% endif %}
    </p>

    <div class="row">
        <div class="col-12 text-success">
            <h5><i class="fa fa-book"></i> รายการไฟล์เอกสารแนบ:
                {% if request.session.userType in 'Administrator, Staff' or request.session.userId == performance.personnel.id%}
                    {% if request.session.userId == leave.personnel.id and leave.recordDate|getTimeUpdate == False %}
                    {% else %}
                        <button class="btn text-danger btn-light" data-bs-toggle="collapse" data-bs-target="#uploadfiles">
                            <i class="fa fa-plus text-primary"></i>
                        </button>
                    {% endif %}
                {% endif %}
            </h5>
            <div id="uploadfiles" class="collapse">
            <form method="post" enctype="multipart/form-data" class="form-control text-primary" lang="th">
                {% csrf_token %}
                <div class="row text-danger">
                    <div class="col-3">
                        {{ fileForm.as_table }}
                    </div>
                    <div class="col-9" id="fileList">
                        <p class="text-danger"><i> *** หมายเหตุ: ระบบอาจไม่รองรับบางไฟล์กรณีที่ตั้งชื่อไฟล์เป็นภาษาไทยหรือใช้สัญลักษณ์พิเศษ </i>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 text-center">
                        <input type="hidden" name="id" value="{{ performance.id }}">
                        <input type="hidden" name="action" value="uploadfile">
                    </div>
                    <div class="col-2 text-center" id="upload">
                        <br>
                        <button type="submit" class="btn btn-success"><i class="fa-solid fa-upload"></i> อัพโหลดไฟล์เอกสาร
                        </button>
                        <br>
                    </div>
                    <div class="col-5 text-center"></div>
                </div>
            </form>
        </div>
            <p class="text-info">
                {% if performance.getPerformanceFiles|length == 0 %}
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="alert-warning col-8 text-center">
                            <br>....ยังไม่ได้อัพโหลดไฟล์เอกสารแนบการรับตำแหน่ง/ผลงาน/รางวัลนี้ในระบบ....<br><br></div>
                        <div class="col-2"></div>
                    </div>
                {% else %}
                    <div class="row">
                        {% for f in performance.getPerformanceFiles %}
                            <div class="col-3">
                                <a href="{% static 'documents/performance/' %}{{ f.file }}" target="_blank">
                                    {% if f.filetype == "pdf" %}
                                        <img src="{% static 'images/iconfiles/pdf-icon.png' %}" width="70px"
                                             class="img-thumbnail">
                                    {% else %}
                                        {% if f.filetype == "doc" or f.filetype == "docx" %}
                                            <img src="{% static 'images/iconfiles/doc-icon.png' %}" width="80px"
                                                 class="img-thumbnail">
                                        {% else %}
                                            {% if f.filetype == "xls" or f.filetype == "xlsx" %}
                                                <img src="{% static 'images/iconfiles/xls-icon.png' %}" width="80px"
                                                     class="img-thumbnail">
                                            {% else %}
                                                {% if f.filetype == "ppt" or f.filetype == "pptx" %}
                                                    <img src="{% static 'images/iconfiles/ppt-icon.png' %}" width="80px"
                                                         class="img-thumbnail">
                                                {% else %}
                                                    {% if f.filetype == "jpg" or f.filetype == "png" or f.filetype == "jpeg" or f.filetype == "gif" %}
                                                        <img src="{% static 'images/iconfiles/img-icon.png' %}"
                                                             width="80px" class="img-thumbnail">
                                                    {% else %}
                                                        <img src="{% static 'images/iconfiles/txt-icon.png' %}"
                                                             width="80px" class="img-thumbnail">
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    <br>
                                </a>
                                <a href="{% static 'documents/performance/' %}{{ f.file }}" class="filelink" target="_blank">
                                    {% if f.file.name|length|get_digit:"-1" > 30 %}
                                        {{ f.file.name|slice:"0:30" }}...
                                    {% else %}
                                        {{ f.file.name }}
                                    {% endif %}
                                </a>
                                {% if request.session.userType in 'Administrator, Staff' or request.session.userId == personnel.id %}
                                    <a href="{% url 'performanceDeleteFile' f.id %}"
                                       onclick="return confirm('โปรดยืนยันการลบไฟล์เอกสารแนบนี้' )">
                                        <i class="fas fa-minus text-danger"></i>
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    {% if performance.getPerformanceFiles|length > 1 %}
                        <div class="row">
                            <div class="col-3">
                                {% if request.session.userType in 'Administrator, Staff' or request.session.userId == personnel.id %}
                                    <a href="{% url 'performanceDeleteFileAll' performance.id %}"
                                       onclick="return confirm('โปรดยืนยันการลบไฟล์เอกสารทั้งหมด!!!' )"
                                       class="btn btn-danger">
                                        <i class="fas fa-trash text-white"></i>
                                        ลบไฟล์เอกสารแนบทั้งหมด!
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-9"></div>
                        </div>
                    {% endif %}
                {% endif %}
            </p>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-12 text-success">
            <h5><i class="fas fa-link"></i> ลิงก์(Link)ตำแหน่งไฟล์เอกสารแนบ:
                {% if request.session.userType in 'Administrator, Staff' or request.session.userId == performance.personnel.id%}
                    {% if request.session.userId == leave.personnel.id and leave.recordDate|getTimeUpdate == False %}
                    {% else %}
                        <button class="btn text-danger btn-light" data-bs-toggle="collapse" data-bs-target="#uploadlinks">
                            <i class="fa fa-plus text-primary"></i>
                        </button>
                    {% endif %}
                {% endif %}
            </h5>
        </div>
        <div id="uploadlinks" class="collapse">
            <form method="post" enctype="multipart/form-data" class="form-control text-primary" lang="th">
                {% csrf_token %}
                {{ urlForm.as_table }}
                <p class="text-center">
                    <br>
                    <button type="submit" class="btn btn-success">
                        <i class="fa-solid fa-floppy-disk"></i> บันทึกลิงก์
                    </button>
                    <input type="hidden" name="id" value="{{ performance.id }}">
                    <input type="hidden" name="action" value="uploadLink">
                </p>
            </form>
        </div>
        <p class="text-primary">
            <ul class="list-group">
                {% for link in performance.getPerformanceURLs %}
                    <li class="list-group-item text-primary">
                        <img src="{% static 'images/iconfiles/web-icon.png' %}" width="40px">
                        <a href={{ link.url }} class="filelink" target="_blank">
                            <i class="fas fa-caret-right"></i> {{ link }}
                        </a>
                        {% if request.session.userType in 'Administrator, Staff' or request.session.userId == personnel.id %}
                            <a href="{% url 'performanceDeleteURL' link.id %}" onclick="return confirm('โปรดยืนยันการลบลิงก์ตำแหน่งไฟล์เอกสารแนบนี้' )">
                                <i class="fas fa-minus text-danger"></i>
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            {% if performance.getPerformanceURLs|length > 1 %}
                <div class="row">
                    <div class="col-3">
                        {% if request.session.userType in 'Administrator, Staff' or request.session.userId == personnel.id %}
                            <a href="{% url 'performanceDeleteURLAll' performance.id %}"
                               onclick="return confirm('โปรดยืนยันการลบลิงก์ตำแหน่งไฟล์เอกสารทั้งหมด!!!' )" class="btn btn-danger">
                                <i class="fas fa-trash text-white"></i>
                                ลบลิงก์ตำแหน่งไฟล์เอกสารทั้งหมด!
                            </a>
                        {%  endif %}
                    </div>
                    <div class="col-9"></div>
                </div>
            {% endif %}
        </p>
    </div>
    <br><br>

{% endblock %}