{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-10">
            <h2><i class="fa fa-user-graduate"></i> รายละเอียดวุฒิการศึกษา </h2>
            <h4> {{ education.personnel.status }},  สังกัด: {{ education.personnel.division }}  </h4>
        </div>
        <div class="col-2">
            <img src="{% static education.personnel.picture %}" width="100px" height="auto" style="margin-top:10px;" class="rounded-circle">
        </div>
    </div>

    <hr class="text-primary">
    <table class="table table-light table-striped table-hover" style="border-color: #0b5ed7">
        <tr>
            <th class="col-3 text-primary">ระดับการศึกษา</th>
            <td class="col-9">{{ education.level }}</td>
        </tr>
        <tr>
            <th class="text-primary">ชื่อวุฒิการศึกษา <br>(ภาษาไทย)</th>
            <td>{{ education.degree_th }}</td>
        </tr>
        <tr>
            <th class="text-primary">ชื่อวุฒิการศึกษา<br>(ภาษาอังกฤษ)</th>
            <td>{{ education.degree_en }}</td>
        </tr>
        <tr>
            <th class="text-primary">ชื่อย่อวุฒิการศึกษา <br>(ภาษาไทย)</th>
            <td>{{ education.degree_th_sh }}</td>
        </tr>
        <tr>
            <th class="text-primary">ชื่อย่อวุฒิการศึกษา <br>(ภาษาอังกฤษ)</th>
            <td>{{ education.degree_en_sh }}</td>
        </tr>
        <tr>
            <th class="text-primary">ชื่อสถาบันการศึกษา</th>
            <td>{{ education.institute }}</td>
        </tr>
        <tr>
            <th class="text-primary">ปีที่สำเร็จการศึกษา</th>
            <td>{{ education.yearGraduate }}</td>
        </tr>
    </table>
    <p class="text-end text-secondary" style="border-color: #6c757d">
        <i>{{ education.getRecorderAndEditor }} </i>
    </p>
    <p class="text-center">
        <button type="button" class="btn btn-secondary" onclick="history.back()">
            <i class="fa fa-rotate-back"></i> ย้อนกลับ
        </button>
        {% if request.session.userType in 'Administrator, Staff' %}
            <button type="button" class="btn btn-warning"
                    onclick="location.href='{% url 'educationUpdate' education.id  %}'">
                <i class="fa fa-tools"></i> แก้ไข
            </button>
        {% elif request.session.userId == education.personnel.id and education.personnel.editable == True %}
            <button type="button" class="btn btn-warning"
                    onclick="location.href='{% url 'educationUpdate' education.id  %}'">
                <i class="fa fa-tools"></i> แก้ไข
            </button>
        {% elif request.session.userType in 'Manager, Header' and request.session.userId == education.personnel.id and education.personnel.editable == True %}
            <button type="button" class="btn btn-warning"
                    onclick="location.href='{% url 'educationUpdate' education.id  %}'">
                <i class="fa fa-tools"></i> แก้ไข
            </button>
        {% else %}
            <button type="button" class="btn btn-secondary">
                <i class="fa fa-ban"></i> ชุดข้อมูลได้รับการป้องกันการแก้ไข
            </button>
        {% endif %}
    </p>
{% endblock %}