{% load static %}
<div class="row">
    <div class="col-1 justify-content-center text-center">
        <img src="{% static 'images/iconfiles/logo.png' %}" width="120px" height="100px" style="margin-top:10px;
">
    </div>
    <div class="col-11">
        <h1>Personnel Digital Profile System </h1>
        <h2>
            {{ request.session.sess_faculty }} - {{ request.session.sess_university }}
{#            Faculty of Business Administration and Information Technology - RMUTI. Khonkean Campus#}
        </h2>
    </div>
</div>
