{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron jumbotron">
        <div class="mt-4 p-5 text-white rounded text-end" style="background-color: #b6d4fe">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'images/iconfiles/pdps_in_folder.png' %}" width="210px" height="auto">
                </div>
                <div class="col-10">
                    <h2 class="display-6 text-primary">ระบบบริหารจัดการแฟ้มข้อมูลดิจิทัลประจำตัวบุคลากร </h2>
                    <label class="text-secondary" style="font-size:30px;font-weight: bold;">
                           เพื่อพัฒนาองค์กรสู่ความเป็นเลิศ <i class="fas fa-angle-right fa-sm"></i> <i class="fas fa-angle-right fa-sm"></i> "LERD"
                    </label>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr class="text-primary">
    {% if chartDiv is not None %}
        <div class="row text-center align-content-center">
            <div class="col-1"></div>
            <div class="col-md-4 text-center" style="alignment: center">
                {{ chartDiv | safe }}
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4 text-center" style="alignment: center">
                {{ chartEdu | safe }}
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row text-center align-content-center">
            <div class="col-2"></div>
            <div class="col-md-3 text-center" style="alignment: center">
                {{ chartStatus | safe }}
            </div>
            <div class="col-2"></div>
            <div class="col-md-4 text-center" style=" alignment: center">
                <table class="table table-borderless text-primary">
                    <tr class=text-dark style="color: #c1cbda;background-color: #b6d4fe;">
                        <td class="text-sm-center" style="font-size: 9pt">สาขา/หน่วยงานย่อย</td>
                        <td class="text-sm-center" style="font-size: 9pt">จำนวนบุคลากร</td>
                    </tr>
                    {% for index, row in dataFrameDiv.iterrows %}
                        <tr style="font-size: 9pt">
                            <td class="text-sm-start text-secondary">{{ row.Division }}</td>
                            <td class="text-sm-center text-secondary">{{ row.Count }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>


    {% endif %}

    <br><br>
{% endblock %}