{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2><i class="fa fa-person-hiking"></i> เปลี่ยนรหัสผ่าน </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-10"><br>
            <h4 class="align-bottom"> {{ personnel.status }}{{ personnel.firstname_th }} {{ personnel.lastname_th }},
                สังกัด: {{ personnel.division }} </h4>
        </div>
        <div class="col-2">
            <img src="{% static personnel.picture %}" width="75px" height="auto" style="margin-top:5px;"
                 class="rounded-circle">
        </div>
    </div>
    <hr class="text-primary">

    <div class="row">
        <div class="col col-4 "></div>
        <div class="col col-4 bg-secondary">
            <br>
            <form method="POST" class="form-control">
                <h1 class="text-center">เปลี่ยนรหัสผ่าน </h1>
                {% csrf_token %}
                {{ form.as_table }}
                <br>
                <p class="text-center">
                    <button type="button" class="btn btn-secondary" onclick="history.back()">
                        <i class="fa fa-rotate-back"></i> ย้อนกลับ
                    </button>
                    <button type="submit" class="btn btn-lg btn-outline-danger">
                        <i class="fa-solid fa-key"></i> เปลี่ยน!
                    </button>
                    <br> <br>
                    {% if messages|length > 0 %}
                        <tr>
                            <td colspan="2" class="text-center">
                                {% for message in messages %}
                                    <b class="text-danger"> {{ message | safe }} </b>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                </p>
            </form>
        </div>
        <div class="col col-4"><br></div>
    </div>
{% endblock %}