{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>
    <div style="background: url({% static 'images/iconfiles/bg-login.jpg' %}) no-repeat; width: 100%; height: 100%; background-size: 100%;">
        <br><br><br><br>
        <div class="row">
            <div class="col col-4 "></div>
            <div class="col col-4 bg-secondary">
                <br>
                <form method="POST" class="form-control">
                    <h3 class="text-center">ตรวจสอบสิทธิ์ผู้ใช้ระบบ </h3>
                    {% csrf_token %}
                    {{ form.as_table }}
                    <br>
                    <p class="text-center">
                        <input type="submit" value="ล็อกอิน" class="btn btn-primary">
                        <input type="reset" value="ยกเลิก" class="btn btn-danger" onclick="location.href='{% url 'home' %}' ">
                        <br>
                    </p>
                </form>
            </div>
            <div class="col col-4"><br></div>
        </div>

    </div>
{% endblock %}