{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2><i class="fa fa-person-hiking"></i> เปลี่ยนรหัสผ่าน </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-10"><br>
            <h4 class="align-bottom"> {{ personnel.status }}{{ personnel.firstname_th }} {{ personnel.lastname_th }},
                สังกัด: {{ personnel.division }} </h4>
        </div>
        <div class="col-2">
            <img src="{% static personnel.picture %}" width="75px" height="auto" style="margin-top:5px;"
                 class="rounded-circle">
        </div>
    </div>
    <hr class="text-primary">
    <div style="background: url({% static 'images/iconfiles/bg-login.jpg' %}) no-repeat; width: 100%; height: 100%; background-size: 100%;">
        <br><br>
        <div class="row">
            <div class="col col-4 "></div>
            <div class="col col-4 bg-secondary">
                <br>
                <form method="POST" class="form-control">
                    <h3 class="text-center">เปลี่ยนรหัสผ่าน </h3>
                    {% csrf_token %}
                    {{ form.as_table }}
                    <br>
                     <p class="text-center">
                        <input type="submit" value="เปลี่ยน!" class="btn btn-primary">
                        <input type="reset" value="ยกเลิก" class="btn btn-danger" onclick="location.href='{% url 'home' %}' ">
                        <br>
                    </p>

                </form>
            </div>
            <div class="col col-4"><br></div>
        </div>
    </div>
{% endblock %}