{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2 class="text-primary"><i class="fa fa-user-group"></i> รายชื่อบุคลากรในสังกัด </h2>
    <hr class="text-primary">
    <table class="table table-primary table-striped table-hover">
        <tr class="bg-white text-primary">
            <th class="col-1"></th>
            <th class="col-3">ชื่อ - สกุล </th>
            <th class="col-2">ตำแหน่ง </th>
            <th class="col-1 text-center">ประเภท</th>
            <th class="col-1 text-center">เพศ</th>
            <th class="col-2">สังกัด</th>
            <th class="col col-2"><a href="{% url 'personnelNew' %}" class="btn btn-sm btn-info text-white" style="width: 100%"><i class="fa fa-plus"></i> เพิ่มบุคลากร </a></th>
        </tr>

    {% for personnel in personnels %}
        <tr class="text-primary">
            <td class="text-center">
                <a href="{% url 'personnelDetail' personnel.id %}">
                    <img src="{% static personnel.picture %}" style="margin:0px;" class="rounded-circle" width="50px">
                </a>
            </td>
            <td>{{ personnel.firstname_th }} {{ personnel.lastname_th }}</td>
            <td>{{ personnel.status }}</td>
            <td class="text-center">{{ personnel.type }}</td>
            <td class="text-center">{{ personnel.gender }}</td>
            <td>{{ personnel.division.name_th }}</td>
            <td class="text-center">
                <a href="{% url 'personnelDetail' personnel.id %}" class="btn btn-light"> <i class="fa fa-search"> </i> </a>
                <a href="{% url 'personnelUpdate' personnel.id %}" class="btn btn-secondary"> <i class="fa fa-tools"> </i> </a>
                <a href="{% url 'personnelDelete' personnel.id %}" class="btn btn-danger"> <i class="fa fa-trash"> </i> </a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <br>
    {% if personnels.has_other_pages %}
        <div class="row">
            <div class="col-12 text-center ">
                <div class="btn-group text-center" role="group" aria-label="Item pagination">
                    {% if personnels.has_previous %}
                        <a href="{% url 'personnelListPage' personnels.previous_page_number %}"
                           class="btn btn-outline-primary">&laquo;</a>
                    {% endif %}

                    {% for page_number in personnels.paginator.page_range %}
                        {% if personnels.number == page_number %}
                            <button class="btn btn-outline-primary active">
                                <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                            </button>
                        {% else %}
                            <a href="{% url 'personnelListPage' page_number %}" class="btn btn-outline-primary">
                                {{ page_number }}
                            </a>
                        {% endif %}
                    {% endfor %}

                    {% if personnels.has_next %}
                        <a href="{% url 'personnelListPage' personnels.next_page_number %}"
                           class="btn btn-outline-primary">&raquo;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row text-center align-content-center">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center" style="alignment: center">
            {{ chart | safe }}
        </div>
        <div class="col-md-1"></div>
    </div>
    <br><br>
{% endblock %}