{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2 class="text-primary"><i class="fa fa-user-group"></i> ข้อมูลบุคลากร </h2>
    {% if request.session.userType == 'Staff' %}
        <h5 class="text-primary">(เฉพาะบุคลากรในสาขาที่ผู้ใช้ระบบต้องรับผิดชอบดูแลข้อมูล) </h5>
    {% endif %}
    <hr class="text-primary">
    {% if count != 0 %}
        <table class="table table-light table-striped table-hover" style="border-color: #0b5ed7">
            {% if request.session.userType != 'Staff' %}
                <form class="form-control" method="post">
                    {% csrf_token %}
                    <tr class="text-success">
                        <div class="col-3">
                                <label for="id_divId" class="text-success">เลือกสาขา/หน่วยงานย่อย:</label>
                                <select name="divId" class="form-control text-success" id="id_divId"
                                        onchange="form.submit();">
                                    {% if division is None %}
                                        <option value="0" selected> (ทั้งหมด) </option>
                                    {% else %}
                                        <option value="0"> (ทั้งหมด) </option>
                                    {% endif %}
                                    {% for div in divisions %}
                                        {% if div == division %}
                                            <option value="{{ div.id }}" selected> {{ div }} </option>
                                        {% else %}
                                            <option value="{{ div.id }}" >  {{ div }} </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                        </div>
                        <div class="col-8"></div>
                    </tr>
                </form>
            {% endif %}
            <tr class="bg-white text-primary">
                <th class="col-1"></th>
                <th class="col-3">ชื่อ - สกุล</th>
                <th class="col-2">ตำแหน่ง</th>
                <th class="col-1 text-center">ประเภท</th>
                <th class="col-1 text-center">เพศ</th>
                <th class="col-2">สังกัด</th>
                <th class="col col-2"}>
                {% if request.session.userType in 'Administrator, Staff' %}
                    <a href="{% url 'personnelNew' %}" class="btn btn-sm btn-primary text-white"
                                         style="width: 100%"><i class="fa fa-plus"></i> เพิ่มบุคลากร </a>
                {% endif %}
                </th>
            </tr>
            {% for personnel in personnels %}
                {% if personnel.division == recorder.division and onlyStaff == True and personnel != recorder %}

                {% else %}
                    {% if request.session.userType == 'Administrator' or request.session.userType == 'Staff' or request.session.userId == personnel.id  or request.session.userType == 'Manager' %}
                         {% if personnel.id == request.session.userId %}
                            <tr class="text-success" onclick="location.href='{% url 'personnelDetail' personnel.id %}'" style="cursor:pointer;font-weight: bold">
                         {% else %}
                            <tr class="text-dark" onclick="location.href='{% url 'personnelDetail' personnel.id %}'" style="cursor:pointer">
                         {% endif %}
                    {% else %}
                        <tr class="text-dark" >
                    {% endif %}
                        <td class="text-center">
                            {% if request.session.userType == 'Administrator' or request.session.userType == 'Staff' or request.session.userId == personnel.id %}
                                <a href="{% url 'personnelDetail' personnel.id %}">
                                    <img src="{% static personnel.picture %}" style="margin:0px;" class="rounded-circle"
                                         width="55px" height="65px">
                                </a>
                            {% else %}
                                <img src="{% static personnel.picture %}" style="margin:0px;" class="rounded-circle"
                                     width="55px" height="65px">
                            {% endif %}
                        </td>
                        <td>{{ personnel.firstname_th }} {{ personnel.lastname_th }}  </td>
                        <td>{{ personnel.status }}</td>
                        <td class="text-center">{{ personnel.type }}</td>
                        <td class="text-center">{{ personnel.gender }}</td>
                        <td>{{ personnel.division.name_th }}</td>
                        <td class="text-center">
                            {% if request.session.userType in 'Administrator, Staff'  %}
                                <a href="{% url 'personnelUpdate' personnel.id %}" class="btn btn-warning">
                                    <i class="fa fa-tools"> </i> </a>
                            {% elif request.session.userId == personnel.id and personnel.editable == True %}
                                <a href="{% url 'personnelUpdate' personnel.id %}" class="btn btn-warning">
                                    <i class="fa fa-tools"> </i> </a>
                            {% endif %}
                            {% if request.session.userType in 'Administrator' %}
                                <a href="{% url 'personnelDelete' personnel.id %}" class="btn btn-danger">
                                    <i class="fa fa-trash"> </i> </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        {% if personnels.has_other_pages %}
            <div class="row">
                <div class="col-12 text-center ">
                    <div class="btn-group text-center" role="group" aria-label="Item pagination">
                        {% if personnels.has_previous %}
                            <a href="{% url 'personnelList' personnels.previous_page_number %}"
                               class="btn btn-outline-primary">&laquo;</a>
                        {% endif %}

                        {% for page_number in personnels.paginator.page_range %}
                            {% if personnels.number == page_number %}
                                <button class="btn btn-outline-primary active">
                                    <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                                </button>
                            {% else %}
                                <a href="{% url 'personnelList' page_number %}" class="btn btn-outline-primary">
                                    {{ page_number }}
                                </a>
                            {% endif %}
                        {% endfor %}

                        {% if personnels.has_next %}
                            <a href="{% url 'personnelList' personnels.next_page_number %}"
                               class="btn btn-outline-primary">&raquo;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        <p class="text-end text-info">[ข้อมูลบุคลากร: {{ count }} ราย]</p>
        <br>
{#        {% if chart is not None %}#}
{#        <div class="row text-center align-content-center">#}
{#            <div class="col-md-1"></div>#}
{#            <div class="col-md-4 text-center" style="alignment: center; vertical-align: middle">#}
{#                 <div class="row">#}
{#                    <div class="col-5">#}
{#                        <div class="card" style="width: 10rem;alignment: center">#}
{#                            <div>#}
{#                            <img class="card-img-top" style="width: 80px; height: 80px; align:center"#}
{#                                 src="{% static 'images/iconfiles/group.png' %}" alt="All Personnel">#}
{#                            </div>#}
{#                            <div>#}
{#                            <div class="card-body" style="background-color: #bfe2e9">#}
{#                                <p class="card-text text-success" style="font-size:50px;"><strong> {{ count }} </strong>#}
{#                                </p>#}
{#                                <span class="badge bg-info">#}
{#                            <img class="card-img-top" style="width: 50px; height: 50px; align:center"#}
{#                                src="{% static 'images/iconfiles/male.png' %}" alt="Male Personnel">#}
{#                            <strong class="badge bg-light text-danger" style="font-size:15pt;"> {{ countmale }} </strong> <br>#}
{#                        </span> <br> <br>#}
{#                        <span class="badge bg-warning">#}
{#                            <img class="card-img-top" style="width: 50px; height: 50px; align:center"#}
{#                                 src="{% static 'images/iconfiles/female.png' %}" alt="Female Personnel">#}
{#                            <strong class="badge bg-light text-danger" style="font-size:15pt;"> {{ countfemale }} </strong> <br>#}
{#                        </span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-md-6 text-center" style="alignment: right">#}
{#                {{ chart | safe }}#}
{#            </div>#}
{#            <div class="col-md-1"></div>#}
{#        </div>#}
{#        {% endif %}#}

    {% else %}
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-center text-danger">
                <div class="alert-warning text-center text-danger">
                    <br>
                    <h3>ไม่ปรากฎข้อมูลบุคลากรที่ท่านสามารถเข้าถึงได้ในระบบ!!</h3>
                    <br>
                    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'home' %}'">
                        <i class="fa fa-home"></i> หน้าหลัก
                    </button> <br> <br>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    {% endif %}

{% endblock %}