{% extends 'base.html' %}
{% block content %}
    <h2><i class="fa fa-user-plus"></i> เพิ่มข้อมูลบุคลากร </h2>
    <hr class="text-primary">
    <form method="POST" enctype="multipart/form-data" class="form form-control text-primary">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="id_passwd">รหัสผ่าน</label>
        <input type="password" id="id_passwd" name="passwd" class="form-control" minlength="4" required>
        <label for="id_confpasswd">ยืนยันรหัสผ่าน</label>
        <input type="password" id="id_confpasswd" name="confpasswd" class="form-control" minlength="4" required>
        <br>
        <label for="id_userType">ความรับผิดชอบในระบบ</label> <br>
        {% if firstTime == True %}
            <input type="radio" id="id_userType" name="userType" value="Administrator" checked> ผู้ดูแลระบบ <br>
            <input type="radio" id="id_userType" name="userType" value="Personnel" disabled><i class="text-secondary"> บุคลากร </i> <br>
            <input type="radio" id="id_userType" name="userType" value="Staff" disabled><i class="text-secondary"> เจ้าหน้าที่ดูแลข้อมูลสาขา </i> <br>
            <input type="radio" id="id_userType" name="userType" value="Manager" disabled><i class="text-secondary"> ผู้บริหาร </i> <br>
        {% else %}
            <input type="radio" id="id_userType" name="userType" value="Personnel" checked> บุคลากร <br>
            <input type="radio" id="id_userType" name="userType" value="Staff" > เจ้าหน้าที่ดูแลข้อมูลสาขา <br>
            <input type="radio" id="id_userType" name="userType" value="Manager"> ผู้บริหาร </i> <br>
        {% endif %}

        <p class="text-center">
            <button type="button" class="btn btn-secondary" onclick="history.back()">
                 <i class="fa fa-rotate-back"></i> ย้อนกลับ
            </button>
            <button type="submit" class="btn btn-success">
                 <i class="fa-solid fa-floppy-disk"></i> บันทึก
            </button>
        </p>


    </form>
{% endblock %}