{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-10">
            <h2><i class="fa fa-user"></i> รายละเอียดบุคลากร </h2>
            <h4> {{ personnel }},   สังกัด: {{ personnel.division }}   </h4>
        </div>
        <div class="col-2">
            {#            <img src="{% static personnel.picture %}" width="75px" height="auto" style="margin-top:10px;" class="rounded-circle">#}
        </div>
    </div>


    <hr class="text-primary">
    <div class="row">
        <div class="col-10">
            <table class="table table-light table-striped table-hover" style="border-color: #0b5ed7">
                <tr>
                    <th class="col-3 text-primary">เลขที่ตำแหน่ง</th>
                    <td class="col-9">{{ personnel.sId }}</td>
                </tr>
                {% if personnel.type == 'สายสนับสนุน' %}
                    <tr>
                        <th class="text-primary">คำนำหน้าชื่อ</th>
                        <td>{{ personnel.title }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th class="text-primary">ชื่อ (ภาษาไทย)</th>
                    <td>{{ personnel.firstname_th }}</td>
                </tr>
                <tr>
                    <th class="text-primary">สกุล (ภาษาไทย)</th>
                    <td>{{ personnel.lastname_th }}</td>
                </tr>
                <tr>
                    <th class="text-primary">ชื่อ (ภาษาอังกฤษ)</th>
                    <td>{{ personnel.firstname_en }}</td>
                </tr>
                <tr>
                    <th class="text-primary">นามสกุล (ภาษาอังกฤษ)</th>
                    <td>{{ personnel.lastname_en }}</td>
                </tr>
                {% if personnel.type != 'สายสนับสนุน' %}
                    <tr>
                        <th class="text-primary">ตำแหน่ง</th>
                        <td>{{ personnel.status }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th class="text-primary">ประเภทบุคลากร</th>
                    <td>{{ personnel.type }}</td>
                </tr>
                <tr>
                    <th class="text-primary">ที่อยู่</th>
                    <td>{{ personnel.address }}</td>
                </tr>
                <tr>
                    <th class="text-primary">เพศ</th>
                    <td>{{ personnel.gender }}</td>
                </tr>
                <tr>
                    <th class="text-primary">วันเดือนปีเกิด</th>
                    <td>{{ personnel.birthDate }}</td>
                </tr>
                <tr>
                    <th class="text-primary">วันที่เริ่มบรรจุเข้าทำงาน</th>
                    <td>{{ personnel.hiringDate }}</td>
                </tr>
                <tr>
                    <th class="text-primary">สังกัดสาขา</th>
                    <td>{{ personnel.division.name_th }}</td>
                </tr>
                <tr>
                    <th class="text-primary">อีเมล์</th>
                    <td>{{ personnel.email }}</td>
                </tr>
            </table>
            <p class="text-end text-secondary" style="border-color: #6c757d">
                <i>{{ personnel.getRecorderAndEditor }}
                    {% if request.session.userType in 'Administrator, Staff' and personnel.editable == False %}
                        &lt;&lt;กำหนดสถานะการป้องกันการแก้ไขไว้&gt;&gt;
                    {% endif %}
                </i>
            </p>
        </div>

        <div class="col-2 text-center">
            <img class="img-thumbnail" src="{% static personnel.picture %}" width="200px" height="auto"
                 style="margin-top:10px;">
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <p class="text-center">
                <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'personnelList' %}'">
                    <i class="fa fa-rotate-back"></i> ย้อนกลับ
                </button>
                {% if request.session.userType in 'Administrator, Staff' %}
                    <button type="button" class="btn btn-warning"
                            onclick="location.href='{% url 'personnelUpdate' personnel.id %}'">
                        <i class="fa fa-tools"></i> แก้ไข
                    </button>
                {% elif request.session.userId == personnel.id and personnel.editable == True %}
                    <button type="button" class="btn btn-warning"
                            onclick="location.href='{% url 'personnelUpdate' personnel.id %}'">
                        <i class="fa fa-tools"></i> แก้ไข
                    </button>
                {% elif request.session.userId == personnel.id %}
                    <button type="button" class="btn btn-secondary">
                        <i class="fa fa-ban"></i> ชุดข้อมูลได้รับการป้องกันการแก้ไข
                    </button>
                {% endif %}
            </p>
        </div>
        <div class="col-5">
            <p class="text-center">
                <button type="button" class="btn btn-primary"
                        onclick="location.href='{% url 'educationList' personnel.division.id personnel.id %}'">
                    <i class="fa fa-graduation-cap"></i> การศึกษา
                </button>
                <button type="button" class="btn btn-primary"
                        onclick="location.href='{% url 'expertiseList' personnel.division.id personnel.id %}'">
                    <i class="fa fa-directions"></i> ความเชี่ยวชาญ
                </button>
            </p>
        </div>
        <div class="col-2">
            <p class="text-center">
                {% if request.session.userType in 'Administrator, Staff' %}
                    <button type="button " class="btn btn-danger btn-sm"
                            onclick="location.href='{% url 'userResetPassword' personnel.id %}'">
                        <i class="fa fa-key"></i> รีเซตรหัสผ่าน
                    </button>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}