{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2 class="text-danger"><i class="fa fa-key text-danger"></i> รีเซตรหัสผ่านให้กับผู้ใช้ระบบ </h2>
        </div>
    </div>
    <hr class="text-primary">
<hr class="text-primary">
    <div style="background: url({% static 'images/iconfiles/bg-login.jpg' %}) no-repeat; width: 100%; height: 100%; background-size: 100%;">
        <br><br>
        <div class="row">
            <div class="col col-4 "></div>
            <div class="col col-4 bg-secondary">
                <br>
                <form method="POST" class="form-control">
                    <h3 class="text-center">รีเซตรหัสผ่าน </h3>
                    {% csrf_token %}
                    {{ form.as_table }}
                    <br>
                     <p class="text-center">
                        <input type="submit" value="รีเซต!" class="btn btn-primary">
                        <input type="reset" value="ยกเลิก" class="btn btn-danger" onclick="history.back();">
                        <br>
                    </p>

                </form>
            </div>
            <div class="col col-4"><br></div>
        </div>
    </div>




    <div style="background: url({% static 'images/iconfiles/bg-login.jpg' %}) no-repeat; width: 100%; height: 100%; background-size: 100%;">
        <br><br>
        <div class="row">
            <div class="col col-4 "></div>
            <div class="col col-4 bg-secondary">
                <br>
                <form method="POST" class="form-control">
                    <h3 class="text-center">รีเซตรหัสผ่าน </h3>
                    {% csrf_token %}
                    {{ form.as_table }}
                    <br>
                     <p class="text-center">
                        <input type="submit" value="เปลี่ยน!" class="btn btn-primary">
                        <input type="reset" value="ยกเลิก" class="btn btn-danger" onclick="location.href='{% url 'home' %}' ">
                        <br>
                    </p>

                </form>
            </div>
            <div class="col col-4"><br></div>
        </div>
    </div>


    <div class="row">
        <div class="col col-4 "> </div>
        <div class="col col-4 bg-secondary">
            <br>
            <form method="POST" class="form-control">
                <h2 class="text-center">รีเซตรหัสผ่านให้กับผู้ใช้ระบบ</h2>
                {% csrf_token %}
                {{ form.as_table }}
                <br>
                <p class="text-center">
                     <button type="button" class="btn btn-secondary" onclick="history.back()">
                         <i class="fa fa-rotate-back"></i> Back
                    </button>
                    <button type="submit" class="btn btn-lg btn-outline-danger">
                         <i class="fa-solid fa-key"></i> Reset
                    </button> <br> <br>
                    {%  if messages|length > 0 %}
                        <tr>
                            <td colspan="2" class="text-center">
                                {% for message in messages %}
                                    <b class="text-danger"> {{ message | safe }} </b>
                                {% endfor %}
                            </td>
                        </tr>
                    {%  endif %}
                </p>
            </form>
        </div>
        <div class="col col-4"> <br> </div>
    </div>
{% endblock %}