{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h2><i class="fas fa-clipboard-list"></i> คำสั่ง </h2>
        </div>
    </div>

     <table class="table table-info table-striped table-hover">
            <tr class="text-primary">
                <th class="text-center col-1">ปีการศึกษา</th>
                <th class="text-center col-1">ภาคเรียนที่ </th>
                <th class="col-1">เลขที่คำสั่ง</th>
                <th class="col-5">เรื่อง</th>
                <th class="text-center col-2">บุคลากรในคำสั่ง (ราย)</th>
                <th class="col col-2"><a href="{% url 'commandNew' %}" class="btn btn-sm btn-info  text-white" style="width: 100%"><i class="fa fa-plus"></i> เพิ่มคำสั่ง </a></th>
            </tr>
            {% eduYearValue "" as nYear %}
            {% for command in commands  %}
                 <tr class="text-primary">
                     {% if nYear != command.getEduYearAndSementer %}
                         {% eduYearValue command.getEduYearAndSementer as nYear %}
                         <td class="text-center">
                            {{ command.eduYear }}
                        </td>
                        <td class="text-center">{{ command.eduSemeter }}</td>
                     {% else %}
                         <td> </td>
                         <td> </td>
                     {% endif %}
                    <td class="text-center">{{ command.comId }}</td>
                    <td>{{ command.topic }}</td>
                    <td class="text-center">{{ command.getCountPersonnel }}</td>
                    <td class="text-center">
                        <a href="" class="btn btn-light"> <i class="fa fa-search"> </i> </a>
                        <a href="" class="btn btn-secondary"> <i class="fa fa-tools"> </i> </a>
                        <a href="" class="btn btn-danger"> <i class="fa fa-trash"> </i> </a>
                    </td>
                 </tr>
            {% endfor %}
     </table>
    
     {% if commands.has_other_pages %}
         <div class="row">
             <div class="col-12 text-center ">
                 <div class="btn-group text-center" role="group" aria-label="Item pagination">
                     {% if commands.has_previous %}
                         {% if request.session.userType != "Personnel" %}
                            <a href="{% url 'commandList' commands.previous_page_number %}"
                                class="btn btn-outline-primary">&laquo;</a>
                         {% else %}
                             <a href="{% url 'commandList' personnel.id commands.previous_page_number %}"
                                class="btn btn-outline-primary">&raquo;</a>
                         {% endif %}
                     {% endif %}

                     {% for page_number in commands.paginator.page_range %}
                         {% if commands.number == page_number %}
                             <button class="btn btn-outline-primary active">
                                 <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                             </button>
                         {% else %}
                             {% if request.session.userType != "Personnel" %}
                                 <a href="{% url 'commandList' page_number %}"
                                    class="btn btn-outline-primary">
                                     {{ page_number }}
                                 </a>
                             {% else %}
                                 <a href="{% url 'commandList' personnel.id page_number %}" class="btn btn-outline-primary">
                                     {{ page_number }}
                                 </a>
                             {% endif %}
                         {% endif %}
                     {% endfor %}

                     {% if commands.has_next %}
                         {% if request.session.userType != "Personnel" %}
                             <a href="{% url 'commandList'  commands.next_page_number %}"
                                class="btn btn-outline-primary">&raquo;</a>
                         {% else %}
                             <a href="{% url 'commandList' personnel.id commands.next_page_number %}"
                                class="btn btn-outline-primary">&raquo;</a>
                         {% endif %}
                     {% endif %}
                 </div>
             </div>
         </div>
     {% endif %}
    <p class="text-end text-info">[ข้อมูลคำสั่ง: {{ count }} เรื่อง]</p>
    <br>
{% endblock %}