{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <div class="row">
        {% if request.session.userType == "Personnel" %}
            <div class="col-10">
                <h2><i class="fa fa-person-hiking"></i> รายละเอียดคำสั่ง ({{ command.comId }})</h2>
                <h3> {{ personnel }},  สังกัด: {{ personnel.division }}  </h3>
            </div>
            <div class="col-2">
                <img src="{% static personnel.picture %}" width="75px" height="auto" style="margin-top:10px;"  class="rounded-circle">
            </div>
        {% else %}
            <div class="col-12">
            <h2><i class="fas fa-clipboard-list"></i> รายละเอียดคำสั่ง ({{ command.comId }}) </h2>
        </div>
        {% endif %}
    </div>
    <hr class="text-primary">

    <table class="table table-light table-striped table-hover" style="border:2px; border-color: #0b5ed7">
        <tr>
            <th class="col-3 text-primary">ปีการศึกษา </th>
            <td class="col-9">{{ command.eduYear }}</td>
        </tr>
        <tr>
            <th class="text-primary">ภาคเรียนที่ </th>
            <td>{{ command.getSemeter }}</td>
        </tr>
        <tr>
            <th class="text-primary">พันธกิจ</th>
            <td>{{ command.mission }}</td>
        </tr>
        <tr>
            <th class="text-primary">เลขที่คำสั่ง</th>
            <td>{{ command.comId }}</td>
        </tr>
        <tr>
            <th class="text-primary">เรื่อง </th>
            <td>{{ command.topic }}</td>
        </tr>
        <tr>
            <th class="text-primary">รายละเอียด</th>
            <td>{{ command.detail }}</td>
        </tr>
        <tr>
            <th class="text-primary">วันที่ออกคำสั่ง</th>
            <td>{{ command.comDate }}</td>
        </tr>
        <tr>
            <th class="text-primary">ปีงบประมาณ</th>
            <td>{{ command.fiscalYear }}</td>
        </tr>
    </table>
    <p class="text-end text-secondary" style="border-color: #6c757d">
        <i>{{ command.getRecorderAndEditor }} </i>
    </p>
    <p class="text-center">
        <button type="button" class="btn btn-secondary"
                onclick="location.href='{% url 'commandList' %}'">
            <i class="fa fa-rotate-back"></i> ย้อนกลับ
        </button>
        {% if request.session.userType in 'Administrator, Staff' or request.session.userId == command.recorder.id %}
            <button type="button" class="btn btn-warning"
                    onclick="location.href='{% url 'commandUpdate' command.id %}'">
                <i class="fa fa-tools"></i> แก้ไข
            </button>
        {% endif %}
    </p>

    <div class="row">
        <div class="col-12 text-success">
            <h5><i class="fa fa-user-friends"></i> บุคลากรที่ได้รับมอบหมายในคำสั่ง:
                {% if request.session.userType in 'Administrator, Staff' or request.session.userId == command.recorder.id %}
                    <button class="btn text-danger btn-light" data-bs-toggle="collapse" data-bs-target="#listCommandPerson">
                        <i class="fa fa-plus text-primary"></i>
                    </button>
                {% endif %}
            </h5>
        </div>
    </div>

    {% if request.session.userType in 'Administrator, Staff' or request.session.userId == command.recorder.id %}
    <div id="listCommandPerson" class="collapse">
        <input type="checkbox" name='chkAll' id="chkAll" value="Select" onclick='javascript:chkSelect("personnel","chkAll");'>Select All
        <form method="post" id='frmCommandPerson' enctype="multipart/form-data" class="form-control text-primary" lang="th">
            {% csrf_token %}
            {{ commandPersonForm.as_table }}
            <p class="text-center">
                <br>
                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-floppy-disk"></i> บันทึกกรายชื่อผู้ได้รับคำสั่ง
                </button>
                <input type="hidden" name="id" value="{{ command.id }}">
                <input type="hidden" name="action" value="uploadPersonnel">
            </p>
        </form>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-2>"></div>
        <div class="col-8>">
            {% if command.getCommandPerson|length == 0  %}
                <div class="row">
                    <div class="col-2"></div>
                    <div class="alert-warning col-8 text-center">
                        <br>....ยังไม่ได้กำหนดรายชื่อบุคลากรที่ได้รับคำสั่งนี้ในระบบ....<br><br></div>
                    <div class="col-2"></div>
                </div>
            {% else %}
                <table class="table table-striped table-hover table-light">
                    <tr class="text-primary">
                        <th class="col-1 text-center">ลำดับที่</th>
                        <th class="col-4">บุคลากร</th>
                        <th class="col-5">หน้าที่ที่ได้รับมอบหมาย</th>
                        <th class="col-2 text-center">
                            {% if command.getCommandPerson|length > 1 %}
                                {% if request.session.userType in 'Administrator, Staff' or request.session.userId == command.recorder.id %}
                                    <a href="{% url 'commandDeleteCommandPersonAll' command.id %}"
                                       onclick="return confirm('โปรดยืนยันการลบรายชื่อบุคลากรทั้งหมด (ที่ไม่ใช่ผู้บันทึกคำสั่ง) ออกจากคำสั่งนี้!!!' )"
                                       class="btn btn-danger">
                                        <i class="fas fa-trash text-white"></i>ลบบุคลากรรายทั้งหมด
                                    </a>
                                {% endif %}
                            {% endif %}
                        </th>
                    </tr>

                    {% for commandPerson in command.getCommandPerson %}
                        {% if personnel.id == commandPerson.personnel.id %}
                            <tr style="font-size:x-large;color:black ">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td>{{ commandPerson.personnel }} </td>
                            <td>{{ commandPerson.status }}</td>
                            <td class="text-center">
                                {% if right == 'Write' %}
                                    {% if request.session.userType in 'Administrator, Staff' %}
                                        <a href="{% url 'commandDeleteCommandPerson' commandPerson.id %}"
                                           onclick="return confirm('โปรดยืนยันการลบบุคลากรที่เลือกออกจากคำสั่งนี้' )">
                                            <i class="fas fa-minus text-danger"></i>
                                        </a>
                                    {% elif request.session.userId == command.recorder.id and commandPerson.personnel.id != requestion.session.userId %}
                                        {# รายชื่อที่ไม่ใช่คนสร้าง สามารถลบออกได้ #}
                                        <a href="{% url 'commandDeleteCommandPerson' commandPerson.id %}"
                                           onclick="return confirm('โปรดยืนยันการลบบุคลากรที่เลือกออกจากคำสั่งนี้' )">
                                            <i class="fas fa-minus text-danger"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <div class="col-2>"></div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-12 text-success">
            <h5><i class="fa fa-book"></i> รายการไฟล์เอกสารแนบ:
                {% if request.session.userType in 'Administrator, Staff' or request.session.userId == command.recorder.id %}
                    <button class="btn text-danger btn-light" data-bs-toggle="collapse" data-bs-target="#uploadfiles">
                        <i class="fa fa-plus text-primary"></i>
                    </button>
                {% endif %}
            </h5>
            <div id="uploadfiles" class="collapse">
                <form method="post" enctype="multipart/form-data" class="form-control text-primary" lang="th">
                    {% csrf_token %}
                    <div class="row text-danger">
                        <div class="col-3">
                            {{ fileForm.as_table }}
                        </div>
                        <div class="col-9" id="fileList">
                            <p class="text-danger"><i> *** หมายเหตุ:
                                ระบบอาจไม่รองรับบางไฟล์กรณีที่ตั้งชื่อไฟล์เป็นภาษาไทยหรือใช้สัญลักษณ์พิเศษ </i>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 text-center">
                            <input type="hidden" name="id" value="{{ command.id }}">
                            <input type="hidden" name="action" value="uploadfile">
                        </div>
                        <div class="col-2 text-center" id="upload">
                            <br>
                            <button type="submit" class="btn btn-success"><i class="fa-solid fa-upload"></i>
                                อัพโหลดไฟล์เอกสาร
                            </button>
                            <br>
                        </div>
                        <div class="col-5 text-center"></div>
                    </div>
                </form>
            </div>
            <p class="text-info">
                {% if command.getCommandFiles|length == 0 %}
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="alert-warning col-8 text-center">
                            <br>....ยังไม่ได้อัพโหลดไฟล์เอกสารแนบคำสั่งนี้ในระบบ....<br><br></div>
                        <div class="col-2"></div>
                    </div>
                {% else %}
                    <div class="row">
                        {% for f in command.getCommandFiles %}
                            <div class="col-3">
                                <a href="{% static 'documents/command/' %}{{ f.file }}" target="_blank">
                                    {% if f.filetype == "pdf" %}
                                        <img src="{% static 'images/iconfiles/pdf-icon.png' %}" width="70px"
                                             class="img-thumbnail">
                                    {% else %}
                                        {% if f.filetype == "doc" or f.filetype == "docx" %}
                                            <img src="{% static 'images/iconfiles/doc-icon.png' %}" width="80px"
                                                 class="img-thumbnail">
                                        {% else %}
                                            {% if f.filetype == "xls" or f.filetype == "xlsx" %}
                                                <img src="{% static 'images/iconfiles/xls-icon.png' %}" width="80px"
                                                     class="img-thumbnail">
                                            {% else %}
                                                {% if f.filetype == "ppt" or f.filetype == "pptx" %}
                                                    <img src="{% static 'images/iconfiles/ppt-icon.png' %}" width="80px"
                                                         class="img-thumbnail">
                                                {% else %}
                                                    {% if f.filetype == "jpg" or f.filetype == "png" or f.filetype == "jpeg" or f.filetype == "gif" %}
                                                        <img src="{% static 'images/iconfiles/img-icon.png' %}"
                                                             width="80px" class="img-thumbnail">
                                                    {% else %}
                                                        <img src="{% static 'images/iconfiles/txt-icon.png' %}"
                                                             width="80px" class="img-thumbnail">
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    <br>
                                </a>
                                <a href="{% static 'documents/command/' %}{{ f.file }}" class="filelink" target="_blank">
                                    {% if f.file.name|length|get_digit:"-1" > 30 %}
                                        {{ f.file.name|slice:"0:30" }}...
                                    {% else %}
                                        {{ f.file.name }}
                                    {% endif %}
                                </a>

                                {% if request.session.userType in 'Administrator, Staff' or request.session.userId == command.recorder.id %}
                                    <a href="{% url 'commandDeleteFile' f.id %}"
                                       onclick="return confirm('โปรดยืนยันการลบไฟล์เอกสารแนบนี้' )">
                                        <i class="fas fa-minus text-danger"></i>
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    {% if command.getCommandFiles|length > 1 %}
                        <div class="row">
                            <div class="col-3">
                                {% if request.session.userType in 'Administrator, Staff' or request.session.userId == command.recorder.id %}
                                    <a href="{% url 'commandDeleteFileAll' command.id %}"
                                       onclick="return confirm('โปรดยืนยันการลบไฟล์เอกสารทั้งหมด!!!' )"
                                       class="btn btn-danger">
                                        <i class="fas fa-trash text-white"></i>
                                        ลบไฟล์เอกสารแนบทั้งหมด!
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-9"></div>
                        </div>
                    {% endif %}
                {% endif %}
            </p>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-12 text-success">
            <h5><i class="fas fa-link"></i> ลิงก์(Link)ตำแหน่งไฟล์เอกสารแนบ:
                {% if request.session.userType in 'Administrator, Staff' or request.session.userId == command.recorder.id %}
                    <button class="btn text-danger btn-light" data-bs-toggle="collapse" data-bs-target="#uploadlinks">
                        <i class="fa fa-plus text-primary"></i>
                    </button>
                {% endif %}
            </h5>
        </div>
        <div id="uploadlinks" class="collapse">
            <form method="post" enctype="multipart/form-data" class="form-control text-primary" lang="th">
                {% csrf_token %}
                {{ urlForm.as_table }}
                <p class="text-center">
                    <br>
                    <button type="submit" class="btn btn-success">
                        <i class="fa-solid fa-floppy-disk"></i> บันทึกลิงก์
                    </button>
                    <input type="hidden" name="id" value="{{ command.id }}">
                    <input type="hidden" name="action" value="uploadLink">
                </p>
            </form>
        </div>
        <p class="text-primary">
        <ul class="list-group">
            {% for link in command.getCommandURLs %}
                <li class="list-group-item text-primary">
                    <img src="{% static 'images/iconfiles/web-icon.png' %}" width="40px">
                    <a href={{ link.url }} class="filelink" target="_blank">
                        <i class="fas fa-caret-right"></i> {{ link }}
                    </a>
                   {% if request.session.userType in 'Administrator, Staff' or request.session.userId == command.recorder.id %}
                        <a href="{% url 'commandDeleteURL' link.id %}"
                           onclick="return confirm('โปรดยืนยันการลบลิงก์ตำแหน่งไฟล์เอกสารแนบนี้' )">
                            <i class="fas fa-minus text-danger"></i>
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if command.getCommandURLs|length > 1 %}
            <div class="row">
                <div class="col-3">
                    {% if request.session.userType in 'Administrator, Staff' or request.session.userId == command.recorder.id %}
                        <a href="{% url 'commandDeleteURLAll' command.id %}"
                           onclick="return confirm('โปรดยืนยันการลบลิงก์ตำแหน่งไฟล์เอกสารทั้งหมด!!!' )"
                           class="btn btn-danger">
                            <i class="fas fa-trash text-white"></i>
                            ลบลิงก์ตำแหน่งไฟล์เอกสารทั้งหมด
                        </a>
                    {% endif %}
                </div>
                <div class="col-9"></div>
            </div>
        {% endif %}
        </p>
    </div>
    <br><br>
{% endblock %}